- 문제 1

변수 name에는 이름, 변수 age에는 나이를 넣어 주세요.

출력은 이름 : 박시현 , 나이 : 29

In [ ]:
name = "박시현"
age = 29
print("이름 : ", name, "나이 : ", age)

이름 :  박시현 나이 :  29

- 문제 2

안녕하세요

반갑습니다.

저는

박시현

입니다.

In [ ]:
print("Hello World")

Hello World

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
len(movie_rank)

4

In [ ]:
# 변수의 두 개의 값을 서로 바꾸는 예제

# num1이라는 변수에 100을 저장함.
num1 = 100
# num2이라는 변수에 200을 저장함
num2 = 200
#num1의 데이터 타입을 확인하는 방법
print(type(num1))
# num1 변수에 num1의 값, num2변수에 num2의 값을 출력해라
print("num1 : ", num1, "num2 : ", num2)

# 두 개의 변수값을 바꾸기 위해서는 임시변수가 필요하다.
temp = num1
num1 = num2
num2 = temp
print("num1: ", num1, "num2: ", num2)

<class 'int'>
num1 :  100 num2 :  200
num1:  200 num2:  100

In [ ]:
 # 사용자로부터 참석하는 인원의 수를 받아 해당하는 인원의 수에 따라서
 # 치킨은 인원당 1마리, 맥주는 인원당 2병, 케익은 인원당 4개를 출력하는
 # 프로그램을 작성하시오
 # input() 함수는 사용자로부터 입력을 받는 용도인데 문자열 형태로 저장된다.
 # 문자열을 숫자로 바꾸기 위해서 int() 함수를 사용하였다.
number = int(input("참석자 수를 입력하세요 : "))
print(type(number))
chickens = number
beers = number * 2
cakes = number * 4
print("치킨의 수: ", chickens)
print("맥주의 수: ", beers)
print("케익의 수: ", cakes)

참석자 수를 입력하세요 : 3
<class 'int'>
치킨의 수:  3
맥주의 수:  6
케익의 수:  12

In [ ]:
# 사용자로부터 두 개의 정수를 입력받아서 두 수의 합을 구하는 프로그램을 만드는 방법

x = int(input("첫 번째 정수 : "))
y = int(input("두 번째 정수 : "))
sum = x + y
print("두 수의 합: ", sum)

첫 번째 정수 : 1
두 번째 정수 : 2
두 수의 합:  3

In [ ]:
# 한 사람이 돈이 5,000원이 있는데 사탕의 가격이 120원이라면 최대로 살 수 있는 사탕의 수는 몇 개인지
# 알아보는 프로그램

money = 5000
candy = 120
# 최대로 살 수 있는 사탕의 개수
# /를 하나로 넣으면 실수, //적용하면 정수로 출력된다.
numcandies = money // candy
print("최대로 살 수 있는 사탕의 개수: ", numcandies)

# 최대로 살 수 있는 사탕을 구입하고 남은 돈
change = money % candy
print("최대로 살 수 있는 사탕을 구입하고 남은 돈: ", change)

최대로 살 수 있는 사탕의 개수:  41
최대로 살 수 있는 사탕을 구입하고 남은 돈:  80

In [ ]:
# 반려동물 박람회에 놀러 온 고양이 한 마리 당 트릿을 4개, 강아지 한 마리당 개껌을 2개를 주는 프로그램

cat = int(input("고양이의 수"))
dog = int(input("강아지의 수"))
t = cat * 4
g = dog * 2
print("고양이는", cat, "마리이고", "트릿은", t, "개가 필요하며", "강아지는", dog, "마이리고", "개껌은", g, "개가 필요하다.")

고양이의 수1
강아지의 수2
고양이는 1 마리이고 트릿은 4 개가 필요하며 강아지는 2 마이리고 개껌은 4 개가 필요하다.

In [ ]:
print("Hello World")

Hello World

In [ ]:
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
print('신씨가 소리질렀다. "도둑이야."')

신씨가 소리질렀다. "도둑이야."

In [ ]:
print('"C:|Wintdows"')

"C:|Wintdows"

In [ ]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [ ]:
print("오늘은", "일요일")

오늘은 일요일

In [ ]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [ ]:
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [ ]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [ ]:
print("first", "second")

first second

In [ ]:
print("first", end=""); print("second")

firstsecond

In [ ]:
print(5/3)

1.6666666666666667

In [ ]:
삼성전자 = int(50000)
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
s = "hello"
t = "python"
print(s, t, sep="!")

hello!python

In [ ]:
print(s + "!" + t)

hello!python

In [ ]:
print(s + "!", t)

hello! python

In [ ]:
a = "132"
print(type(a))

<class 'str'>

In [ ]:
num_str = "720"
num_str = int(num_str)
print(num_str, type(num_str))

720 <class 'int'>

In [ ]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

In [ ]:
num = 100
int = str(num)
print(int, type(int))

100 <class 'str'>

In [ ]:
str = "15.79"
float = float(str)
print(float, type(float))

15.79 <class 'float'>

In [ ]:
에어컨 = 48540 * 36
print(에어컨)

1747440

In [ ]:
cat = int(input("고양이 : "))
chu = cat * 2
print("고양이 : ", cat, "츄르 : ", chu)

고양이 : 2
고양이 :  2 츄르 :  4

In [ ]:
message = "용남이 말했다. \"제발 그만해\""
print(message)

용남이 말했다. "제발 그만해"

In [ ]:
'Py' 'thon'

'Python'

In [ ]:
price = 10000
print("물건의 가격은", price, "원 입니다.")

물건의 가격은 10000 원 입니다.

In [ ]:
price = 10000
print("상품의 가격은 %s원 입니다." %price)

상품의 가격은 10000원 입니다.

In [ ]:
month = 3
day = 13
print("오늘은", month, "월", day, "일 입니다.")

오늘은 3 월 13 일 입니다.

In [ ]:
message = "오늘은 %s월 %s일 입니다."
print(message%(3, 13))

오늘은 3월 13일 입니다.

In [ ]:
text = "python"
print(text[2])

t

In [ ]:
# 파이썬에서의 자료형(data-type)
# int형을 출력해봄
print(type(17))
# float 형을 출력해봄
print(type(10.221))
# str형을 출력해봄
print(type("안녕하세요."))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# 자동 판매기를 시뮬레이션하는 프로그램을 작성하는데 사용자는 1000원 지폐와
# 500원, 100원짜리 동전을 사용할 수 있다. 물건값을 사용자로부터 입력을 받아서
# 1000원권 지혜, 500원, 100원 동전의 개수를 입력하면 거스름돈을 계산해서
# 동전으로 반환하는 프로그램을 만들어보자

item_price = int(input("물건값을 입력하세요 :"))
bills_1000 = int(input("1000원 개수 입력 : "))
coin_500 = int(input("500원 개수 입력 : "))
coin_100 = int(input("100원 개수 입력"))

# 거스름돈 구하기
nod_money = (bills_1000 * 1000) + (coin_500 * 500) + (coin_100 * 100) - item_price

#  거스름돈(500원 동전 개수)를 계산
ncoin500 = nod_money // 500
nod_money = nod_money % 500 #500원으로 나눈 나머지 값

# 거스름돈(100원 동전 개수)를 계산
ncoin100 = nod_money // 100
nod_money = nod_money % 100 #100원으로 나눈 나머지 값

print("500원 개수 : ", ncoin500, "100원 개수 : ", ncoin100)

물건값을 입력하세요 :1000
1000원 개수 입력 : 3
500원 개수 입력 : 2
100원 개수 입력1
500원 개수 :  6 100원 개수 :  1

In [ ]:
# 문자열에 대한 실습
welcome = "Happy New Year 2022"
print(welcome)
print(len(welcome))

Happy New Year 2022
19

In [ ]:
print(welcome[3])

p

In [ ]:
message = r"c:\temp\name"

In [ ]:
print(message)

c:\temp\name

In [ ]:
# 문자열(한글, 영어 상관 없음)의 길이를 알고자 한다면 len() 함수를 이용한다.
message = "world"
print("문자열의 길이 : ", len(message))

문자열의 길이 :  5

In [ ]:
# 문자열의 연결
# + 연산자는 문자열 사이에 들어가면 문자열을 연결해주는 역할을 한다.
first_name = "Sihyun"
last_name = "Park"
name = last_name + first_name
print(name)

# 파이썬에서 모든 데이터에는 데이터 타입이 존재한다. 데이터 타입이 일치하지 않는 경우
# 연결이 불가능하여 에러가 발생한다.
# 예를 들어
# temp = "person" + 100
# print(temp)
# 위의 코드를 실행하면 실행되지 않는데, 이 경우 str() 함수를 이용하여 정수를 문자열로 변환시켜
# 타입을 서로 일치시켜야 + 연산자가 문자열을 연결해주는데 문제가 없다.

temp = "person" + str(100)
print(temp)

# 문자열을 숫자로 변환
# 정수일때는 int()함수를 사용하면 된다. 실수일때는 float() 함수를 사용하면 된다
price = int("123456")
print(type(price))

# 문자열의 반복
# 문자열에서 * 연산자를 사용하면 그 만큼 반복이 된다.
line = "_"
print(line * 10)

# %s (형식 지정자)
# %s는 문자열이나 숫자값을 변수에 대입해서 자주 변경이 있을 경우 이런 형식을 지정하여
# 상황에 맞게끔 출력을 하도록 하면 될 것이다.
# %s에 정수를 대입
price = 1000
print("가격 : %s" %price)

time = "17:10"
print("시간 : %s" %time)

# %s를 2개 이상을 사용하고자 할 때는 해당하는 %s의 개수만큼 소괄호로 묶어서
# 형식지정자에 대입해줘야한다.
temp = "현재 시간은 %s시 %s분 %s초 입니다."
print("현재시간 : ", temp %(17, 18, 52))

ParkSihyun
person100
<class 'int'>
__________
가격 : 1000
시간 : 17:10
현재시간 :  현재 시간은 17시 18분 52초 입니다.

In [ ]:
# 문자열의 인덱싱
# 인덱싱이란 문자열에서 문자를 추출하는데 문자열에는 각각에 해당하는 문자의 번호(인덱스)가 존재한다.
# [인덱스] 하면 문자열에서 문자를 추출할 수가 있다.
# 인덱스라 함은 무조건 0부터 시작이 된다. 마지막 인덱스는 항상 n-1이 성립된다.
# 파이썬 특수기능인 인덱스를 처리할 때 음수도 사용이 가능하다.

word = "Python"
print(len(word))
print(word[2])
print(word[5])
# len(word)는 어차피 문자열의 길이인 6일 반환하기 때문에 -1을 해주면 끝 문자를 반환해준다.
# 엄청 긴 문자열의 끝 문자를 추출하는데 효율적임
print(word[len(word)-1])

# 파이썬에서는 한 번 작성된 문자열은 변경이 불가능하다

# 사용자로부터 문자열을 입력을 3개를 받도록한다. 각 해당 문자열의 첫 번째 문자를 인덱싱하여
# 문자들을 합쳐서 문자열로 만드는 프로그램을 만들어보자

# 내가 한거
text1 = input("첫 번째 단어 : ")
text2 = input("두 번째 단어 : ")
text3 = input("세 번째 단어 : ")
print("새로 만든 문자열 : ", text1[0], text2[0], text3[0])

# 인프런 강사님이 한거
text1 = input("첫 번째 단어 : ")
text2 = input("두 번째 단어 : ")
text3 = input("세 번째 단어 : ")
# 위의 3개의 문자열 중 첫 번째 단어만 추출하여 또 다른 문자열을 만들고 있다.
word = text1[0] + text2[0] + text3[0]
print("새로 만든 문자열 : " + word)

6
t
n
n
첫 번째 단어 : 개똥아
두 번째 단어 : 똥먹니
세 번째 단어 : 아니오
새로 만든 문자열 :  개 똥 아
첫 번째 단어 : 개똥아
두 번째 단어 : 똥먹니
세 번째 단어 : 아니오
새로 만든 문자열 : 개똥아

In [ ]:
# 리스트에 대한 실습
# 리스트의 정의 : 여러 개의 값을 모아서 하나의 변수에 저장할 수가 있는 데이터 타입.
# 아주 유용하게 널리 사용된다. 리스트는 [ ] 안에 값을 저장한다.
city = ["서울", "부산", "대구", "광주", "인천"]
# 리스트의 길이를 알아내고 싶을 때에도 역시 en() 함수는 사용하면 된다.
print(len(city))
print(type(city))
print(city[2])
# 리스트는 아래와 같이 해당하는 인덱스의 값이 변경 가능한 객체이다.
city[1] = "전주"
print(city)
# 리스트의 정수, 문자열에 국한되지 않고 여러개의 값을 저장할 수 있다.
temp = ["대구", "부산", 100, 10.798]
print(temp)

# 한 사람의 정보를 출력
name = input("이름을 입력하시오 : ")
age = int(input("나이를 입력하시오 : "))
ad = input("주소를 입력하시오 : ")
tall = int(input("키를 입력하시오 : "))
weight = int(input("몸무게를 입력하시오 : "))
person = [name, age, ad, tall, weight]
print("이 사람의 정보는", person, "입니다.")

5
<class 'list'>
대구
['서울', '전주', '대구', '광주', '인천']
['대구', '부산', 100, 10.798]
이름을 입력하시오 : 박시현
나이를 입력하시오 : 29
주소를 입력하시오 : 서울
키를 입력하시오 : 158
몸무게를 입력하시오 : 50
이 사람의 정보는 ['박시현', 29, '서울', 158, 50] 입니다.

In [ ]:
# 성적을 입력하면 등급을 알려주는 프로그램

score = int(input("성적을 입력하시오 : "))

# 성적이 95점 이상이면 A+
if score >= 95:
  print("A+ 입니다.")
# 성적이 90점 이상이면 A
elif score >= 90:
  print("A 입니다.")
# 성적이 85점 이상이면 B+
elif score >= 85:
  print("B+ 입니다.")
# 성적이 80점 이상이면 B
elif score >= 80:
  print("B 입니다.")
# 성적이 75점 이상이면 C+
elif score >= 75:
  print("C+ 입니다.")
# 성적이 70점 이상이면 C
elif score >= 70:
  print("C 입니다.")
# 성적이 65점 이상이면 D
elif score >= 65:
  print("D 입니다.")
# 전부 아닐 경우 F
else:
  print("F 입니다.")

성적을 입력하시오 : 55
F 입니다.

In [ ]:
# 조건문의 실습(if - else구문, if구문)
score = 59
# 수식(관계식)다음에 : 기호는 인터프리터에게 아직 문장이 끝나지 않았음을 알리는 기호
# if - else 구문은 50%의 확률을 지닌다. 
if score >= 60:
  print("축하드립니다. 합격입니다.")
else :
  print("불합격입니다.")

age = int(input("나이를 입력하세요 : "))
if age > 19:
  print("주류 구입이 가능합니다.")
else:
  print("미성년자 출입 금지입니다.")

불합격입니다.
나이를 입력하세요 : 20
주류 구입이 가능합니다.

In [ ]:
# 사용자로부터 성별을 입력받아서 해당하는 성별을 출력하는 프로그램 만들기

gender = input("성별을 입력하세요")
if gender == "여자":
  print("여자입니다.")
else:
  print("남자")

성별을 입력하세요여자
여자입니다.

In [ ]:
# bool 변수 알아보기
# bool 변수의 용도는 플래그 변수 형태로 사용을 많이한다.
flag = True
print(type(flag))

if flag:
  print("실행됩니다.")

<class 'bool'>
실행됩니다.

In [ ]:
list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
list.append(6)
print(list)

[1, 2, 3, 4, 5, 6]

In [ ]:
list.append(7)
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
list.append("hello")
print(list)

[1, 2, 3, 4, 5, 6, 7, 'hello']

In [ ]:
print(list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
print(list)

[1, 2, 3, 4, 5]

In [ ]:
list.remove(5)
print(list)

[1, 2, 3, 4]

In [ ]:
list= [1, 2, 3, 1, 2, 3]

In [ ]:
print(list)

[1, 2, 3, 1, 2, 3]

In [ ]:
list.remove(1)
print(list)

[2, 3, 1, 2, 3]

In [ ]:
list[1]

3

In [ ]:
list.remove[2]

TypeError: ignored

In [ ]:
list[-4]

3

In [ ]:
list[2] = 100

In [ ]:
print(list)

[2, 3, 100, 2, 3]

In [ ]:
list[0] = 100
print(list)

[100, 3, 100, 2, 3]

In [ ]:
list[1] = 200

In [ ]:
print(list)

[100, 200, 100, 2, 3]

In [ ]:
list[3] = 300
print(list)

[100, 200, 100, 300, 3]

In [ ]:
list[2] = 300
print(list)

[100, 200, 300, 300, 3]

In [ ]:
list[3] = 400
print(list)

[100, 200, 300, 400, 3]

In [ ]:
list[4] = 500
print(list)

[100, 200, 300, 400, 500]

In [ ]:
list.append(600)
print(list)

[100, 200, 300, 400, 500, 600]

In [ ]:
print(list)

[100, 200, 300, 400, 500]

In [ ]:
list.append(600)
print(list)

[100, 200, 300, 400, 500, 600]

In [ ]:
list.remove(600)
print(list)

[100, 200, 300, 400, 500]

In [ ]:
len(list)

5

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
len(my_tuple)

5

In [ ]:
myset = set()
print(myset, type(myset))

set() <class 'set'>

In [ ]:
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(1)
myset.add(2)
myset.add(3)
print(myset)

{1, 2, 3}

In [ ]:
myset.remove(3)

In [ ]:
print(myset)

{1, 2}

In [ ]:
myset.add(3)
print(myset)

{1, 2, 3}

In [ ]:
set.add("hello")

TypeError: ignored

In [ ]:
mydict = dict()

In [ ]:
print(mydict)

{}

In [ ]:
mydict["hello"] = 79
print(mydict["hello"])

79

In [ ]:
mydict[79] = 42
print(mydict)

{'hello': 79, 79: 42}

In [ ]:
mydict["79"] = "apple"
print(mydict)

{'hello': 79, 79: 42, '79': 'apple'}

In [ ]:
mydict[3.14] = 1.25
print(dict)

<class 'dict'>

In [ ]:
print(mydict)

{'hello': 79, 79: 42, '79': 'apple', 3.14: 1.25}

In [ ]:
 mydict["hello"] = "bye"
 print(mydict)

{'hello': 'bye', 79: 42, '79': 'apple', 3.14: 1.25}

In [ ]:
len(mydict)

4

In [ ]:
def hungry(want_eat):
  print(hungry)

In [ ]:
def hungry():
  print("시현이 배고프다")

In [ ]:
hungry()

시현이 배고프다

In [ ]:
def danchu():
  print(danchu)
def danchu():
  print("cute")

In [ ]:
danchu()

cute

In [ ]:
def moca(dog):
  print(moca)
def moca():
  print("baby")
moca()

baby

In [ ]:
#리턴이 있는 변수
def pet(a, b):
  mypet = a + b
  return mypet

In [ ]:
pet(1, 2)

3

In [ ]:
result = pet(1, 2)

In [ ]:
print(result)

3

In [ ]:
result + 3

6

In [ ]:
print("Hello world")

Hello world

In [ ]:
print("Mary's cosmetics")

Mary's cosmetics

In [ ]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [ ]:
print("C:\windows")

C:\windows

In [ ]:
print("안녀아세요.\n만나서\t\t반갑습니다.")

안녀아세요.
만나서		반갑습니다.

In [ ]:
print("오늘은", "일요일")

오늘은 일요일

In [ ]:
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [ ]:
print("naver", "kakao", "sk", "samaung", sep=";")

naver;kakao;sk;samaung

In [ ]:
print("first"); print("second")

first
second

In [ ]:
print("first");end= print("second")

first
second

In [ ]:
print("first", end=""); print("second")

firstsecond

In [ ]:
print("first", end=""); print("second") # end= : 줄바꿈 없이 출력

firstsecond

In [ ]:
5/3

1.6666666666666667

In [ ]:
print(5/3)

1.6666666666666667

In [ ]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [ ]:
시가총액 = 29800000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

29800000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [ ]:
s = "hello"
t = "python"
print(s, "!", t)

hello ! python

In [ ]:
print(s+"!", t)

hello! python

In [ ]:
print(s+"!", t)

hello! python

In [ ]:
print(2+2*3)

8

In [ ]:
a = "132"
print(a, type(a))

132 <class 'str'>

In [ ]:
num_str = "720"
num = int(num_str)
print(num, type(num))

720 <class 'int'>

In [ ]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [ ]:
num_str = "15.79"
num_float = float(num_str)
print(num_float, type(num_float))

15.79 <class 'float'>

In [ ]:
year = "2020"
year_int = int(year)
print(year, year_int-1, year_int+1, year_int+2, type(year_int))

2020 2019 2021 2022 <class 'int'>

In [ ]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [ ]:
aircon = 48584
할부 = 36
print(aircon * 할부)

1749024

In [ ]:
월 = 48584
할부 = 월 * 36
print(할부)

1749024

In [ ]:
letter = "python"
print(letter[0], letter[2])

p t

In [ ]:
print(letter[-1], letter[0])

n p

In [ ]:
license_plate = "24가 2210"
print(license_plate[3:])

 2210

In [ ]:
string = "홀짝홀짝홀짝"
print(string[::1])

홀짝홀짝홀짝

In [ ]:
print(string[::2])

홀홀홀

In [ ]:
string = "PYTHON"
print(string[-1])

N

In [ ]:
print(string[::-1])

NOHTYP

In [ ]:
name = "ParkSihyun"
print(name[::-1])

nuyhiSkraP

In [ ]:
num = "010-3700-8795"
number = num.replace("-", " ")
print(number)

010 3700 8795

In [ ]:
scrap = "안----녕----하--세----요"
s = scrap.replace("-", " ")
print(s)

안    녕    하  세    요

In [ ]:
r = scrap.replace("-", "=")
print(r)

안====녕====하==세====요

In [ ]:
a = "3"
b = "4"
print(a+b)

34

In [ ]:
print("Hi" * 3)

HiHiHi

In [ ]:
print("-" * 80)

--------------------------------------------------------------------------------

In [ ]:
t1 = "python"
t2 = "java"
print((t1 ,t2) * 4)

('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')

In [ ]:
t3 = t1 + " " + t2 + " "
print(t3 * 4)

python java python java python java python java

In [ ]:
t1 = "python"
t2 = "java"
t3 = t1 + ' ' + t2 + ' '
print(t3 * 4)

python java python java python java python java

In [ ]:
t3 = t1, t2
print(t3 * 4)

('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')

In [ ]:
name1 = "박시현"
age1 = 29
name2 = "박단추"
age2 = 7
print("이름 : %s 나이 : %s" %(name1, age1))
print("이름 : %s 나이 : %s" %(name2, age2))

이름 : 박시현 나이 : 29
이름 : 박단추 나이 : 7

In [ ]:
a = 1
a

1

In [ ]:
a = 1
b = 2
a
b

2

In [ ]:
print(a, b)

1 2

In [ ]:
print(a)
print(b)

1
2

In [ ]:
print(a, b, sep="#")

1#2

In [ ]:
print("Hello", 10, 100, "hi", "bye", True, 3.14, 10)

Hello 10 100 hi bye True 3.14 10

In [ ]:
print("Hello", 10, 100, "hi", "bye", True, 3.14, 10, sep="*")

Hello*10*100*hi*bye*True*3.14*10

In [ ]:
name = "parksihyun"
age = 29
print("이름 : ", name, ",", "나이 : ", age)

이름 :  parksihyun , 나이 :  29

In [ ]:
print("이름 : ", name, "/", "나이 : ", age)

이름 :  parksihyun / 나이 :  29

In [ ]:
name1 = "danchu"
name2 = "moca"
print(name2, name1)

moca danchu

In [ ]:
print(name1, name2, type(name1), type(name2))

danchu moca <class 'str'> <class 'str'>

In [ ]:
text = "I'm Student"

In [ ]:
print(text)

I'm Student

In [ ]:
text = "나는 말했다. \"안녕하세요\"라고"

In [ ]:
print(text)

나는 말했다. "안녕하세요"라고

In [ ]:
text = "I said \"I'm Studedt\""

In [ ]:
print(text)

I said "I'm Studedt"

In [ ]:
text = "안녕하세요\n반갑습니다"
print(text)

안녕하세요
반갑습니다

In [ ]:
text = "안녕하세요\n반갑습니다\n저는\n박시현입니다"

In [ ]:
print(text)

안녕하세요
반갑습니다
저는
박시현입니다

In [ ]:
text = """안녕하세요
반갑습니다
저는
박시현입니다
단추라는
고양이와
모카라는
강아지를
키우고 있습니다."""
print(text)

안녕하세요
반갑습니다
저는
박시현입니다
단추라는
고양이와
모카라는
강아지를
키우고 있습니다.

In [ ]:
text = "Hello MultiCampus"

In [ ]:
print(text)

Hello MultiCampus

In [ ]:
len(text)

17

In [ ]:
print(text[2])

l

In [ ]:
print(text[-11])

M

In [ ]:
print(text[16])

s

In [ ]:
print(text[3])

l

In [ ]:
print(text[-3])

p

In [ ]:
text = "안녕하세요! 반갑습니다"
print(text)

안녕하세요! 반갑습니다

In [ ]:
text[0:3]

'안녕하'

In [ ]:
text[:20]

'안녕하세요! 반갑습니다'

In [ ]:
text[3:]

'세요! 반갑습니다'

In [ ]:
text[:5]

'안녕하세요'

In [ ]:
text[:]

'안녕하세요! 반갑습니다'

In [ ]:
text[:-5]

'안녕하세요! '

In [ ]:
len(text)

12

In [ ]:
text[ : ]

'안녕하세요! 반갑습니다'

In [ ]:
text[ : :2]

'안하요 갑니'

In [ ]:
text[ : : 3]

'안세 습'

In [ ]:
text [ : : -3]
# 음수 스텝

'다갑!하'

In [ ]:
text [ : : -1]

'다니습갑반 !요세하녕안'

In [ ]:
text1 = "hello"
text2 = "world"

In [ ]:
print(text1, text2)
print(text1 + text2)

hello world
helloworld

In [ ]:
number = 10

In [ ]:
print(text1, text2, str(number))

hello world 10

In [ ]:
print(text * 10)

안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다안녕하세요! 반갑습니다

In [ ]:
print(text1 * 10)

hellohellohellohellohellohellohellohellohellohello

In [ ]:
# 모든 문자를 대문자로 만들기 -upper()
text1.upper()

'HELLO'

In [ ]:
# 모든 문자를 소문자로 만들기 - lower()
"HELLO".lower()

'hello'

In [ ]:
text = "Hello world"

In [ ]:
print(text)

Hello world

In [ ]:
text.replace("H", "J")

'Jello world'

In [ ]:
text.replace("l", "o")

'Heooo worod'

In [ ]:
text

'Hello world'

In [ ]:
text.replace("Heool", "Bye")

'Hello world'

In [ ]:
text.replace("Hello", "Bye")

'Bye world'

In [ ]:
text2 = text.replace("Hello", "Bye")
print(text, text2)

Hello world Bye world

In [ ]:
name = "ParkSihyun"
age = 29

# 제 이름은 박시현이고 나이는 29살입니다.
text = "제 이름은" + name + "이고, 나이는" + str(29) + "살 입니다."
print(text)

제 이름은ParkSihyun이고, 나이는29살 입니다.

In [ ]:
text = "제 이름은{}입니다. 나이는{}입니다."
print(text)

제 이름은{}입니다. 나이는{}입니다.

In [ ]:
text.format(name, age)

'제 이름은ParkSihyun입니다. 나이는29입니다.'

In [ ]:
text.format("박단추", 7)

'제 이름은박단추입니다. 나이는7입니다.'

In [ ]:
text = f"제 이름은{name}입니다. 나이는 {age}입니다"

In [ ]:
print(text)

제 이름은ParkSihyun입니다. 나이는 29입니다

In [ ]:
letters = "python"
letters[0], letters[2]

('p', 't')

In [ ]:
print(letters[0], letters[2])

p t

In [ ]:
name1 = "송몽숙"
age1 = 30
name2 = "망난이"
age2 = 31

In [ ]:
text = "이름 : {} 나이:{}"

In [ ]:
text.format(name1, age1)

'이름 : 송몽숙 나이:30'

In [ ]:
text.format(name2, age2)

'이름 : 망난이 나이:31'

In [ ]:
text = f"이름 : {name1} 나이 : {age1}"

In [ ]:
print(text)

이름 : 송몽숙 나이 : 30

In [ ]:
print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 송몽숙 나이 : 30
이름 : 망난이 나이 : 31

In [ ]:
text = "pithon"
print(text)
text.replace("i", "y")

pithon

'python'

In [ ]:
"나는 사과를 %d개 먹는다" %5

'나는 사과를 5개 먹는다'

In [ ]:
"나는 치킨 %s마리와 피자 %s 판을 먹을 수 있다." %("한", "한")

'나는 치킨 한마리와 피자 한 판을 먹을 수 있다.'

In [ ]:
"나는 치킨 %s 마리로 %s일을 먹을 수 있다" %("한", "이")

'나는 치킨 한 마리로 이일을 먹을 수 있다'

In [ ]:
"나는 {}시가 되면 배가 고프다.".format(4)

'나는 4시가 되면 배가 고프다.'

In [ ]:
"나는 소주를 병으로 먹으면 {}병, 페트로 먹으면 {}병을 마신다".format("두", "한")

'나는 소주를 병으로 먹으면 두병, 페트로 먹으면 한병을 마신다'

In [ ]:
ani = 2
"우리 집에는 동물이 {}마리 있다".format(ani)

'우리 집에는 동물이 2마리 있다'

In [ ]:
f"나는 초록색 소주는{ani}병 마신다"

'나는 초록색 소주는2병 마신다'

In [ ]:
year = 2022
month = 3
day = 21
f"오늘은 {year}년 {month}월 {day}일 입니다."

'오늘은 2022년 3월 21일 입니다.'

In [ ]:
print("오늘은 {}년 {}월 {}일 입니다".format(year, month, day))

오늘은 2022년 3월 21일 입니다

In [ ]:
f"내일은 {day+1}일이다."

'내일은 22일이다.'

In [ ]:
text = "안녕하세요. 저는 박시현입니다. 제가 즐겨보는 유튜브 채널은 '사회인게임클럽'입니다."
text.split(" ")

['안녕하세요.', '저는', '박시현입니다.', '제가', '즐겨보는', '유튜브', '채널은', "'사회인게임클럽'입니다."]

In [ ]:
text = "#하루종일#파이썬#하고있는데#그래도#모르겠다"
text.split("#")

['', '하루종일', '파이썬', '하고있는데', '그래도', '모르겠다']

In [ ]:
result = text.split("#")[1:]

In [ ]:
print(result)

['하루종일', '파이썬', '하고있는데', '그래도', '모르겠다']

In [ ]:
text = "파이썬    재미는  있는데    왜      나는    잘   못하는걸까   나 빼고    다 파이썬을    잘 하는 것 같다."
result = text.split()

In [ ]:
print(result)

['파이썬', '재미는', '있는데', '왜', '나는', '잘', '못하는걸까', '나', '빼고', '다', '파이썬을', '잘', '하는', '것', '같다.']

In [ ]:
text = "\n\n안녕\n\n나는\n\n시현이야"
print(text)

안녕

나는

시현이야

In [ ]:
print(text.split())

['안녕', '나는', '시현이야']

In [ ]:
result = text.split()
result

['안녕', '나는', '시현이야']

In [ ]:
"#"+"#".join(result)

'#안녕#나는#시현이야'

In [ ]:
" ".join(result)

'안녕 나는 시현이야'

In [ ]:
text = "매일 아침메뉴 걱정에 시달리고있다."
text.split()

['매일', '아침메뉴', '걱정에', '시달리고있다.']

In [ ]:
"#"+"#".join(text.split())

'#매일#아침메뉴#걱정에#시달리고있다.'

In [ ]:
movie1 = "9.49"
movie2 = "  9.42   "
movie3 = "9.34"

In [ ]:
float(movie1)

9.49

In [ ]:
float(movie2)

9.42

In [ ]:
float(movie3)

9.34

In [ ]:
movie_score_sum = (movie1 + movie2 + movie3)

In [ ]:
print(movie_score_sum)

9.49  9.42   9.34

In [ ]:
movie1_score = float(movie1)
movie2_score = float(movie2)
movie3_score = float(movie3)

In [ ]:
movie_score_sum = (movie1_score + movie2_score + movie3_score)

In [ ]:
print(movie_score_sum)

28.25

In [ ]:
movie_score_sum / 3

9.416666666666666

In [ ]:
venom = "5.16점"

In [ ]:
venom[:-1]

'5.16'

In [ ]:
venom_score = venom[:-1]

In [ ]:
venom_score_in = float(venom_score)

In [ ]:
venom_score_int = int(venom_score_in)

In [ ]:
print(venom_score_int)

5

In [ ]:
meat = "650.8g"
print(meat)

650.8g

In [ ]:
meat1 = meat[:-1]
print(meat1, type(meat))

650.8 <class 'str'>

In [ ]:
meat2 = int(float(meat1))
print(meat2, type(meat2))

650 <class 'int'>

In [ ]:
print("first", end="");print("second")

firstsecond

In [ ]:
a = "132"
print(a, type(a))

132 <class 'str'>

In [ ]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액), 현재가, type(현재가), PER, type(PER))

298000000000000 <class 'int'> 50000 <class 'int'> 15.79 <class 'float'>

In [ ]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [ ]:
price = 48584
총금액 = price * 36
print(총금액)

1749024

In [ ]:
s = "hello"
t = "python"
print(s+"!", t)

hello! python

In [ ]:
letters = "python"
letters[0], letters[2]

('p', 't')

In [ ]:
print(letters[0], letters[2])

p t

In [ ]:
string = "PYTHON"
print(string[: :-1])

NOHTYP

In [ ]:
phone_number = "010-1111-2222"
phone_number.replace("-", " ")

'010 1111 2222'

In [ ]:
t1 = "python"
t2 = "java"
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [ ]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

In [ ]:
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [ ]:
상장주식수 = "5,969,782,550"
print(상장주식수, type(상장주식수))

5,969,782,550 <class 'str'>

In [ ]:
상장주식수.split(",")
print(상장주식수)

5,969,782,550

In [ ]:
len(상장주식수)

13

In [ ]:
type(상장주식수)

str

In [ ]:
상장주식수.replace(",", "")
print(상장주식수)

5,969,782,550

In [ ]:
상장주식수_ = 상장주식수.replace(",", "")
print(상장주식수_)

5969782550

In [ ]:
상장주식수1 = int(상장주식수_)

In [ ]:
print(상장주식수1, type(상장주식수1))

5969782550 <class 'int'>

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기)

2020/03(E) (IFRS연결)

In [ ]:
분기날짜 = 분기[7:]

In [ ]:
print(분기날짜)

(E) (IFRS연결)

In [ ]:
분기날짜 = 분기[:7]
print(분기날짜)

2020/03

In [ ]:
data = "    삼성전자    "
data.strip()

'삼성전자'

In [ ]:
ticker = "btc_krw"
print(ticker)

btc_krw

In [ ]:
ticker.upper()

'BTC_KRW'

In [ ]:
ticker = "BTC_KRW"
print(ticker)

BTC_KRW

In [ ]:
ticker.lower()

'btc_krw'

In [ ]:
file_name = "2020_보고서.xlsx"

In [ ]:
file_name.endswith("xlsx"or"xls")

True

In [ ]:
file_name.startswith("2020")

True

In [ ]:
a = "hello world"
print(a)

hello world

In [ ]:
a.split(" ")

['hello', 'world']

In [ ]:
ticker = "btc_krw"
print(ticker)

btc_krw

In [ ]:
ticker.split("_")

['btc', 'krw']

In [ ]:
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [ ]:
data = "              039490"
print(data)

              039490

In [ ]:
data.rstrip()

'039490'

In [ ]:
data.strip()

'039490'

In [ ]:
list1 = [1, 2, 3, "four", [5, 6], 7.0, True]
print(list1)

[1, 2, 3, 'four', [5, 6], 7.0, True]

In [ ]:
len(list1)

7

In [ ]:
print(list1[0])

1

In [ ]:
print(list1[4])

[5, 6]

In [ ]:
print(list1[4][1])

6

In [ ]:
print(list1[4][0])

5

In [ ]:
사회인게임클럽 = ["송몽숙", "강초당", "망난이", "장폰주", "백노바", "구라베"]

In [ ]:
print(사회인게임클럽[2][:-1])

망난

In [ ]:
print(사회인게임클럽[::-2])

['구라베', '장폰주', '강초당']

In [ ]:
list2 = [1, 2]
print(list2)

[1, 2]

In [ ]:
list2.append(3)
print(list2)

[1, 2, 3]

In [ ]:
list2.append(4)
list2.append("Hello")
list2.append(3.14)
print(list2)

[1, 2, 3, 4, 'Hello', 3.14]

In [ ]:
list3 = [4, 2, 5, 1, 3, 7, 6, 9, 8]
list3.sort()

In [ ]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list3.sort(reverse=True)
list3

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
list4 = ["banana", "apple", "avocado", "cherry", "mango", "durian"]
list4

['banana', 'apple', 'avocado', 'cherry', 'mango', 'durian']

In [ ]:
list4.sort()

In [ ]:
list4

['apple', 'avocado', 'banana', 'cherry', 'durian', 'mango']

In [ ]:
list5 = ["다람쥐", "라디오", "나비", "가루"]
list5

['다람쥐', '라디오', '나비', '가루']

In [ ]:
list5.sort()
list5

['가루', '나비', '다람쥐', '라디오']

In [ ]:
list6 = ["Apple", "apple", "Banana", "banana"]
list6

['Apple', 'apple', 'Banana', 'banana']

In [ ]:
list6.sort()
list6

['Apple', 'Banana', 'apple', 'banana']

In [ ]:
list1

[1, 2, 3, 'four', [5, 6], 7.0, True]

In [ ]:
item = list1.pop()
print(item, "/", list1)

True / [1, 2, 3, 'four', [5, 6], 7.0]

In [ ]:
sg1 = ["송몽숙", "망난이", "장폰주"]
sg1

['송몽숙', '망난이', '장폰주']

In [ ]:
sg2 = ["백노바", "구라베", "강초당"]
sg2

['백노바', '구라베', '강초당']

In [ ]:
sg1 + sg2

['송몽숙', '망난이', '장폰주', '백노바', '구라베', '강초당']

In [ ]:
list2 = ["3", "7", "2", "6", "4", "1", "5", "9", "8"]
list2.sort()
list2

['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [ ]:
list2.sort(reverse = True)
list2

['9', '8', '7', '6', '5', '4', '3', '2', '1']

AttributeError: ignored

In [ ]:
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [ ]:
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [ ]:
movie_rank.append("배트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [ ]:
movie_rank.pop(2)
movie_rank

['닥터 스트레인지', '스플릿', '배트맨']

In [ ]:
movie_rank.insert(1, "슈퍼맨")

In [ ]:
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [ ]:
del movie_rank[2]
movie_rank

['닥터 스트레인지', '슈퍼맨', '배트맨']

In [ ]:
del movie_rank[2]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [ ]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang3 = lang1 + lang2
lang3

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7]
nummax = nums.max()
nummin = nums.min()
print(f"max : {nummax}")
print(f"min : {nummin}")

AttributeError: ignored

In [ ]:
numsum = nums.sum()
numsum

AttributeError: ignored

In [ ]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [ ]:
print(nums(sum)/3)

TypeError: ignored

In [ ]:
sgc= ["송몽숙", "망난이"]

In [ ]:
sgc.append("장폰주")
sgc

['송몽숙', '망난이', '장폰주']

In [ ]:
sgc.sort()

In [ ]:
sgc

['망난이', '송몽숙', '장폰주']

In [ ]:
sgc.sort(reverse=True)
sgc

['장폰주', '송몽숙', '망난이']

In [ ]:
sgc.pop()
sgc

['장폰주', '송몽숙']

In [ ]:
text = "abcd"
text[:2]+"f"+text[2:]

'abfcd'

In [ ]:
text

'abcd'

In [ ]:
text = "aple"
text[:2]+"p"+text[2:]

'apple'

In [ ]:
text = "txt"
text[:1]+"e"+text[1:]

'text'

In [ ]:
price = ['20180728', 100, 130, 140, 150, 160, 170]

In [ ]:
price[1:]

[100, 130, 140, 150, 160, 170]

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
print(nums[::2])

[1, 3, 5, 7, 9]

In [ ]:
print(nums[1::2])

[2, 4, 6, 8, 10]

In [ ]:
nums = [1, 2, 3, 4, 5]
nums.sort(reverse=True)

In [ ]:
nums

[5, 4, 3, 2, 1]

In [ ]:
nums[::-1]

[1, 2, 3, 4, 5]

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver']

In [ ]:
print(interest[0], interest[2])

삼성전자 Naver

In [ ]:
text = "제발 그만해 나 너무 무서워"
result = "#"+"#".join(text)

In [ ]:
result

'#제#발# #그#만#해# #나# #너#무# #무#서#워'

In [ ]:
result = "#".join(text)
result

'제#발# #그#만#해# #나# #너#무# #무#서#워'

In [ ]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest

['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']

In [ ]:
result = " ".join(interest)
result

'삼성전자 LG전자 Naver SK하이닉스 미래에셋대우'

In [ ]:
result = "/".join(interest)
result

'삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우'

In [ ]:
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [ ]:
string = "삼성전자/LG전자/Naver"

In [ ]:
string.split()

['삼성전자/LG전자/Naver']

In [ ]:
interest = string.split("/")

In [ ]:
interest

['삼성전자', 'LG전자', 'Naver']

In [ ]:
interest

['삼성전자/LG전자/Naver']

In [ ]:
interest.split("/")

AttributeError: ignored

In [ ]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()

In [ ]:
data

[1, 2, 3, 4, 5, 9, 10]

In [ ]:
my_variable = ()

In [ ]:
type(my_variable)

tuple

In [ ]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [ ]:
tup = (1, )

In [ ]:
print(tup, type(tup))

(1,) <class 'tuple'>

In [ ]:
A = {1, 2, 3}
B = {2, 3, 4}

In [ ]:
A.intersection(B) #A와 B의 교집합

{2, 3}

In [ ]:
A.union(B) #A와 B의 합집합

{1, 2, 3, 4}

In [ ]:
A.difference(B) #A와 B의 차집합

{1}

In [ ]:
A.issubset(B) #A와 B의 부분집합 True/False

False

In [ ]:
C = {2, 3}
C.issubset(A)

True

In [ ]:
C.issubset(B)

True

In [ ]:
city = {"Korea" : "Seoul",
        "Japen" : "Tokyo",
        "Canada" : "Ottawa"}

In [ ]:
print(city)

{'Korea': 'Seoul', 'Japen': 'Tokyo', 'Canada': 'Ottawa'}

In [ ]:
city["Korea"]

'Seoul'

In [ ]:
city["Japen"]

'Tokyo'

In [ ]:
city["China"] = "Baijing"

In [ ]:
print(city)

{'Korea': 'Seoul', 'Japen': 'Tokyo', 'Canada': 'Ottawa', 'China': 'Baijing'}

In [ ]:
sgc = {"parkramgee" : "songmongsuk",
       "kimgirin" : "mangnani",
       "bokdaege" : "jangponju",
       "parkboksu" : "gerave"}

In [ ]:
print(sgc)

{'parkramgee': 'songmongsuk', 'kimgirin': 'mangnani', 'bokdaege': 'jangponju', 'parkboksu': 'gerave'}

In [ ]:
sgc["parkramgee"]

'songmongsuk'

In [ ]:
sgc["nawangnoon"] = "beaknova"

In [ ]:
print(sgc)

{'parkramgee': 'songmongsuk', 'kimgirin': 'mangnani', 'bokdaege': 'jangponju', 'parkboksu': 'gerave', 'nawangnoon': 'beaknova'}

In [ ]:
sgc["leegokgil"] = "kangchodang"
print(sgc)

{'parkramgee': 'songmongsuk', 'kimgirin': 'mangnani', 'bokdaege': 'jangponju', 'parkboksu': 'gerave', 'nawangnoon': 'beaknova', 'leegokgil': 'kangchodang'}

In [ ]:
sgc["parkramgee"] = "dokgorumi"
print(sgc)

{'parkramgee': 'dokgorumi', 'kimgirin': 'mangnani', 'bokdaege': 'jangponju', 'parkboksu': 'gerave', 'nawangnoon': 'beaknova', 'leegokgil': 'kangchodang'}

In [ ]:
del sgc["parkramgee"]
sgc

{'bokdaege': 'jangponju',
 'kimgirin': 'mangnani',
 'leegokgil': 'kangchodang',
 'nawangnoon': 'beaknova',
 'parkboksu': 'gerave'}

In [ ]:
sgc["parkramgee"] = "songmongsuk"
sgc

{'bokdaege': 'jangponju',
 'kimgirin': 'mangnani',
 'leegokgil': 'kangchodang',
 'nawangnoon': 'beaknova',
 'parkboksu': 'gerave',
 'parkramgee': 'songmongsuk'}

In [ ]:
del sgc["bokdaege"]
sgc

{'kimgirin': 'mangnani',
 'leegokgil': 'kangchodang',
 'nawangnoon': 'beaknova',
 'parkboksu': 'gerave',
 'parkramgee': 'songmongsuk'}

In [ ]:
type(sgc)

dict

In [ ]:
sgc

{'kimgirin': 'mangnani',
 'leegokgil': 'kangchodang',
 'nawangnoon': 'beaknova',
 'parkboksu': 'gerave',
 'parkramgee': 'songmongsuk'}

In [ ]:
sgc.keys()

dict_keys(['kimgirin', 'parkboksu', 'nawangnoon', 'leegokgil', 'parkramgee'])

In [ ]:
sgc.values()

dict_values(['mangnani', 'gerave', 'beaknova', 'kangchodang', 'songmongsuk'])

In [ ]:
sgc.items()

dict_items([('kimgirin', 'mangnani'), ('parkboksu', 'gerave'), ('nawangnoon', 'beaknova'), ('leegokgil', 'kangchodang'), ('parkramgee', 'songmongsuk')])

In [ ]:
sgc = ["songmongsuk", "mangnani"]
print(sgc, type(sgc))

['songmongsuk', 'mangnani'] <class 'list'>

In [ ]:
tuple(sgc)
print(sgc, type(sgc))

['songmongsuk', 'mangnani'] <class 'list'>

In [ ]:
tuple(sgc)

('songmongsuk', 'mangnani')

In [ ]:
print(sgc)

['songmongsuk', 'mangnani']

In [ ]:
sgc = "jangponju", "grave"
print(sgc, type(sgc))

('jangponju', 'grave') <class 'tuple'>

In [ ]:
list(sgc)

['jangponju', 'grave']

In [ ]:
sgc = {"songmongsuk", "jangponju"}
print(sgc, type(sgc))

{'songmongsuk', 'jangponju'} <class 'set'>

In [ ]:
list(sgc)

['songmongsuk', 'jangponju']

In [ ]:
tuple(sgc)

('songmongsuk', 'jangponju')

In [ ]:
text = "songmongsuk"
print(text, type(text))

songmongsuk <class 'str'>

In [ ]:
list(text)

['s', 'o', 'n', 'g', 'm', 'o', 'n', 'g', 's', 'u', 'k']

In [ ]:
set(text)

{'g', 'k', 'm', 'n', 'o', 's', 'u'}

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
*vaild_score, a, b = scores

In [ ]:
vaild_score

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [ ]:
a

7.8

In [ ]:
b

9.4

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
_, _, *valid_score = scores

In [ ]:
_

8.9

In [ ]:
_

8.9

In [ ]:
valid_score

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [ ]:
_, *valid_score, _ = scores

In [ ]:
valid_score

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
temp = {}

In [ ]:
icecream = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print(icecream)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [ ]:
icecream["죠스바"] = 1200

In [ ]:
icecream["월드콘"] = 1500
print(icecream, type(icecream))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500} <class 'dict'>

In [ ]:
icecream["메로나"]

1000

In [ ]:
print("메로나 가격 : ", icecream["메로나"])

메로나 가격 :  1000

In [ ]:
icecream["메로나"]=1300
print(icecream)

{'메로나': 1300, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [ ]:
del icecream["메로나"]

In [ ]:
icecream

{'빵빠레': 1800, '월드콘': 1500, '죠스바': 1200, '폴라포': 1200}

In [ ]:
inventory = {"메로나" : [300, 20], "비비빅" : [300, 3], "죠스바" : [250, 100]}

In [ ]:
print(inventory["메로나"][0], "원")

300 원

In [ ]:
print(inventory["메로나"][1],"개")

20 개

In [ ]:
inventory["월드콘"] = [500, 7]
print(inventory)

{'메로나': [300, 20], '비비빅': [300, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [ ]:
lst = list(icecream.keys())
print(lst, type(lst))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'] <class 'list'>

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(icecream, type(icecream))

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000} <class 'dict'>

In [ ]:
lst = list(icecream.values())
print(lst, type(lst))

[1200, 1200, 1800, 1500, 1000] <class 'list'>

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [ ]:
sum = sum(icecream.values())

In [ ]:
print(sum)

6700

In [ ]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

In [ ]:
new_product = {'팥빙수':2700, '아맛나':1000}

In [ ]:
icecram = icecream + new_product

TypeError: ignored

In [ ]:
icecream["팥빙수"] = 2700

In [ ]:
icecream["아맛나"] = 1000
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [ ]:
num = 10
print(num)

10

In [ ]:
num = num + 5
print(num)

25

In [ ]:
num += 5
print(num)

30

In [ ]:
num/=5
print(num)

6.0

In [ ]:
1 < 3 and 1 < 3

True

In [ ]:
1<3 and 1>3

False

In [ ]:
1<3 or 1<3

True

In [ ]:
1<3 or 3<1

True

In [ ]:
1>3 or 3<1

False

In [ ]:
A = int(input("1 ~ 10 사이의 정수를 입력하시오"))
3 <= A and A <= 8

1 ~ 10 사이의 정수를 입력하시오9

False

In [ ]:
money = int(input("가진 돈 : "))

if money>=12000:
  print("택시를 탑니다.")
elif 12000>money>=8000:
  print("버스를 탑니다.")
else :
  print("걸어갑니다.")

가진 돈 : 9500
버스를 탑니다.

In [ ]:
money = int(input("보증금을 입력하시오 : (단위:만원)"))

if money>=10000:
  print("강남구 매물을 검색합니다.")
elif 10000>money and 5000<=money:
  print("마포구 매물을 검색합니다.")
elif 5000>money and 2000<=money:
  print("영등포구 매물을 검색합니다.")
else:
  print("관악구 매물을 검색합니다.")

보증금을 입력하시오 : (단위:만원)10000
강남구 매물을 검색합니다.

In [ ]:
money = int(input("잔액을 입력하세요 : "))
if money >= 5000:
  print("광역버스를 타세요.")
elif money < 5000 and money >= 2000:
  print("일반버스를 타세요")
else:
  print("걸어가세요")

잔액을 입력하세요 : 10000
광역버스를 타세요.

In [ ]:
잔액 = 10000
인출금액 = int(input("얼마를 인출하시겠습니까?"))
if 인출금액 > 잔액 :
  print("인출이 불가능합니다. {}원의 잔액이 부족합니다.".format(인출금액-잔액))
elif 인출금액 < 잔액 :
  print("{}원이 인출되었습니다.".format(잔액-인출금액))
print("현재 잔액은 {}원 입니다.".format(잔액))

얼마를 인출하시겠습니까?5000
5000원이 인출되었습니다.
현재 잔액은 10000원 입니다.

In [ ]:
money = int(input("얼마를 인출하시겠습니까?"))
account = 10000

if money > account :
  print(f"인출이 불가능합니다{money-account}원이 부족합니다")
else :
  account -= money
  print(f"{money}원이 인출되었습니다.")

print(f"현재 잔액은 {account}원입니다.")

얼마를 인출하시겠습니까?8000
8000원이 인출되었습니다.
현재 잔액은 2000원입니다.

In [ ]:
money = 10000
account = int(input("얼마를 인출하시겠습니까?"))
if money<account:
  print(f"인출할 수 없습니다. 잔액이{account-money}원 부족합니다.")
else:
  print(f"{account}원 인출되었습니다.")
  money -= account
  
print(f"잔액은 {money}원입니다.")

얼마를 인출하시겠습니까?15000
인출할 수 없습니다. 잔액이5000원 부족합니다.
잔액은 10000원입니다.

In [ ]:
data = 3

# data가 0이 아니면 반복해라
while data !=0:
  print("hello", data)
  data -= 1
print("done")

hello 3
hello 2
hello 1
done

학생이 3과목 시험을 쳤는데 80, 90, 100점을 맞았다. 총점과 평균을 구하라(while 활용)

In [ ]:
point_lst = [80, 90, 100]

In [ ]:
# 데이터가 손상되지 않도록 복사
data = point_lst.copy()
#총점과 평균 변수 만들기
point_total, point_avg = 0, 0

# data의 글자 길이가 0이 아니면 반복해라
while len(data) != 0:
  # point변수의 데이터를 꺼내고 삭제
  point = data.pop()
  # point_total = point_total + point
  point_total += point

# 합계를 출력
print(f"합계 : {point_total}")
# 평균을 출력
print(f"평균 : {point_total / len(point_lst)}")

합계 : 270
평균 : 90.0

In [ ]:
lst = ["songmongsuk", "mangnani", "jangponju", "beaknova", "kangchodang", "grave"]

for item in lst:
  print(item)
  print("="*10)
print("done")

songmongsuk
==========
mangnani
==========
jangponju
==========
beaknova
==========
kangchodang
==========
grave
==========
done

In [ ]:
money = 10000
account = int(input("인출할 금액을 입력하시오 : "))
if money < account :
  print(f"인출할 수 없습니다. {account - money}원이 부족합니다.")
else:
  money -= account
  print(f"{account}원이 인출되었습니다.")

print(f"잔액 : {money}")

인출할 금액을 입력하시오 : 1234
1234원이 인출되었습니다.
잔액 : 8766

In [ ]:
point_lst = [80, 90, 100]

In [ ]:
number = None
total = 0
while number != -1:
  number = int(input("Input number : "))
  total += number
print(f"총 합 : {total}")

Input number : 1
Input number : 2
Input number : 3
Input number : 4
Input number : 5
Input number : 6
Input number : 7
Input number : 8
Input number : 9
Input number : -1
총 합 : 44

In [ ]:
lst = "song", "mang", "jang", "beak", "gang", "g"
for item in lst:
  print(item)
  print("="*10)
print("done")

song
==========
mang
==========
jang
==========
beak
==========
gang
==========
g
==========
done

In [ ]:
student_name = ["song", "mang", "jang"]
score_list = [90, 85, 70]

In [ ]:
for name, score in zip(["song", "mang", "jang"], [90, 85, 70]):
  print(f"{name}의 점수는 {score} 점")

song의 점수는 90 점
mang의 점수는 85 점
jang의 점수는 70 점

In [ ]:
old_name = ["parkramgee", "kimgirin", "bokdeagi"]
new_name = ["songmongsuk", "mangnani", "jangponju"]

for old, new in zip(["parkramgee", "kimgirin", "bokdeagi"], ["songmongsuk", "mangnani", "jangponju"]):
  print(f"예전이름{old} : 새 이름{new}")

예전이름parkramgee : 새 이름songmongsuk
예전이름kimgirin : 새 이름mangnani
예전이름bokdeagi : 새 이름jangponju

In [ ]:
subject = {"국어" : 100, "수학" : 80, "영어" : 85}
for 성적, score in zip(subject.keys(), subject.values()):
  print(f"{성적} : {score}")

국어 : 100
수학 : 80
영어 : 85

In [ ]:
subject = {"국어" : 100, "수학" : 80, "영어" : 85}
subjects=subject.keys()
score=subject.values()
for subject_, score in zip(subjects, score):
  print(f"{subject_}는 {score}점")

국어는 100점
수학는 80점
영어는 85점

In [ ]:
for subject_, score in subject.items():
  print(f"{subject}은(는) {score}점")

{'국어': 100, '수학': 80, '영어': 85}은(는) 100점
{'국어': 100, '수학': 80, '영어': 85}은(는) 80점
{'국어': 100, '수학': 80, '영어': 85}은(는) 85점

In [ ]:
scores = [{"math": 90, "science" : 80}, {"math": 100, "science" : 78}]

In [ ]:
scores.split()
scores

AttributeError: ignored

In [ ]:
range(5) # 0~4까지 들어있는 정수

range(0, 5)

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
tuple(range(1,10))

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
list(range(1, 10, 2)) # 1부터 10까지 2씩 건너뛰면서 출력

[1, 3, 5, 7, 9]

In [ ]:
for num in range(10):
  print("hello", num)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [ ]:
count = int(input("몇 명의 점수를 입력받으시겠습니까?")) #count라는 변수에 정수형태로 사용자에게 input받음
scores = [] # 리스트 형태의 scores 변수 생성

for i in range(count): #i를 count 정수 리스트만큼 반복
  math_score = int(input("Math Score : ")) #math_score 변수에 math score을 정수형태로input받음
  science_score = int(input("Sciens Score : ")) #science_score 변수에 sciens score을 정수 형태로 input 받음

  score = {"math" : math_score, "science" : science_score} #dict 형태로 키에는 과목 밸류에는 과목 점수를 설정함
  scores.append(score) #scores 리스트 끝에 점수를 추가함

math_sum, science_sum = 0, 0 #수학 합계와 과학 합계 변수와 값을 생성

for score in scores: # score을 scores만큼 반복
  math_sum += score["math"] 
  science_sum += score["science"]

print("Math Average {}".format(math_sum / len(scores))) 
print("Scinece Average {}".format(science_sum / len(scores)))

몇 명의 점수를 입력받으시겠습니까?5
Math Score : 90
Sciens Score : 100
Math Score : 58
Sciens Score : 70
Math Score : 82
Sciens Score : 76
Math Score : 95
Sciens Score : 80
Math Score : 62
Sciens Score : 70
Math Average 77.4
Scinece Average 79.2

In [ ]:
for item in range(5):
  if item == 2:
    continue
  print("hello", item)

hello 0
hello 1
hello 3
hello 4

In [ ]:
lst1 = [10, 20, 30]
lst2 = ["A", "B", "C"]

for item1 in lst1:
  for item2 in lst2:
    print(item1, item2)

10 A
10 B
10 C
20 A
20 B
20 C
30 A
30 B
30 C

In [ ]:
numbers = range(1, 100)
for num in numbers:
  if num % 2 == 0:
    print("짝", end="\t") #end 옵션 :  문자열 제일 마지막에 올 글자
  else:
    print("홀", end="\t")

홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀	짝	홀

In [ ]:
for dan in range(2, 10):
  print(f"==={dan}단===")
  for times in range(1, 10):
    print(f"{dan} X {times} = {dan * times}")

===2단===
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
===3단===
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
===4단===
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
===5단===
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
===6단===
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
===7단===
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
===8단===
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
===9단===
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
for dan in range(2, 10):
  print(f"==={dan}단===")
  for times in range(1, 10):
    print(f"{dan} x {times} = {dan * times}")

===2단===
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
===3단===
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
===4단===
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
===5단===
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
===6단===
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
===7단===
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
===8단===
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
===9단===
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
for dan in range(2, 10):
  print(f"=={dan}단==")
  for times in range(1, 10):
    if dan %2 == 0:
      print(f"{dan} 곱하기 {times} 는 {dan * times}")
    else:
      print(f"{dan} x {times} = {dan * times}")

==2단==
2 곱하기 1 는 2
2 곱하기 2 는 4
2 곱하기 3 는 6
2 곱하기 4 는 8
2 곱하기 5 는 10
2 곱하기 6 는 12
2 곱하기 7 는 14
2 곱하기 8 는 16
2 곱하기 9 는 18
==3단==
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
==4단==
4 곱하기 1 는 4
4 곱하기 2 는 8
4 곱하기 3 는 12
4 곱하기 4 는 16
4 곱하기 5 는 20
4 곱하기 6 는 24
4 곱하기 7 는 28
4 곱하기 8 는 32
4 곱하기 9 는 36
==5단==
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
==6단==
6 곱하기 1 는 6
6 곱하기 2 는 12
6 곱하기 3 는 18
6 곱하기 4 는 24
6 곱하기 5 는 30
6 곱하기 6 는 36
6 곱하기 7 는 42
6 곱하기 8 는 48
6 곱하기 9 는 54
==7단==
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
==8단==
8 곱하기 1 는 8
8 곱하기 2 는 16
8 곱하기 3 는 24
8 곱하기 4 는 32
8 곱하기 5 는 40
8 곱하기 6 는 48
8 곱하기 7 는 56
8 곱하기 8 는 64
8 곱하기 9 는 72
==9단==
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
dan = range(2, 10)
time = range(1, 10)

In [ ]:
for dans in dan:
  print(f"==={dans}단===")
  for times in time:
    print(f"{dans}*{times}={dans*times}", end = "\t")

===2단===
2*1=2	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18	===3단===
3*1=3	3*2=6	3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27	===4단===
4*1=4	4*2=8	4*3=12	4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36	===5단===
5*1=5	5*2=10	5*3=15	5*4=20	5*5=25	5*6=30	5*7=35	5*8=40	5*9=45	===6단===
6*1=6	6*2=12	6*3=18	6*4=24	6*5=30	6*6=36	6*7=42	6*8=48	6*9=54	===7단===
7*1=7	7*2=14	7*3=21	7*4=28	7*5=35	7*6=42	7*7=49	7*8=56	7*9=63	===8단===
8*1=8	8*2=16	8*3=24	8*4=32	8*5=40	8*6=48	8*7=56	8*8=64	8*9=72	===9단===
9*1=9	9*2=18	9*3=27	9*4=36	9*5=45	9*6=54	9*7=63	9*8=72	9*9=81

In [ ]:
for times in time:
  for dans in dan:
    print(f"{dans} X {times} = {dans * times}", end = "\t")
  print( )

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [ ]:
h_num = 3 # 가로로 표시할 숫자의 개수

for idx in range(0, len(dan), h_num):
  now_dan = dan[idx : idx + h_num]
  for dans in now_dan:
    print(f"{dans}단", end="\t\t")
  print()

  for times in time:
    for dans in now_dan:
      print(f"{dans}  * {times} = {dans * times}", end = "\t")
    print()
  print()

TypeError: ignored

In [ ]:
a = 1
b = 2

result = "hello" if a>b else "bye"

In [ ]:
result

'bye'

In [ ]:
dan = range(2, 10)
time = range(1, 10)

In [ ]:
for dans in dan:
  print(f"=={dans}단==")
  for times in time:
    print(f"{dans}x{times}={dans*times}")

==2단==
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18
==3단==
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27
==4단==
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36
==5단==
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45
==6단==
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54
==7단==
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63
==8단==
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
==9단==
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [ ]:
 # 1~5까지 각각의 정수에 제곱한 결과를 리스트에 담아놓기
result = []
for data in range(1, 6):
  result.append(data ** 2)
print(result)

[1, 4, 9, 16, 25]

In [ ]:
# 블록의 중요성에 대한 실습
# 타 언어 (java, c, c++ 등)에서는 블록을 중괄호로 감싸서 들여쓰기를 해야한다는 문법이 없다.
# 파이썬에서는 블록을 만들 때, 반드시 공간을 동일하게 줘야 한다.
# 파이썬의 문법에서는 블록(실행문장이 여러개일 때)을 만들 때 들여쓰기를 해야하며
# 이렇게 해 주어야 프로그램의 가독성이 좋아진다.
score = 95
if score >= 95:
  print("합격입니다.")
  print("장학금도 받을 수 있습니다")

합격입니다.
장학금도 받을 수 있습니다

In [ ]:
# 쇼핑몰에서 물건을 구매할 떄, 구입액이 5만원 이상이면 5%의 할인을 해준다고 하자.
# 사용자에게 구입 금액을 입력받고 최종적으로 할인 금액과 지불금액을 출력하는 프로그램 만들기

In [ ]:
total_price = int(input("구입 금액을 입력하세요 : "))
if total_price >= 50000:
  discount = total_price * 0.05 # 할인 금액
  sales_price = total_price - discount # 지불 금액
  print(f"구입 금액 : {total_price}원")
  print(f"할인 금액 : {discount}원")
  print(f"지불 금액 : {sales_price}원")
else :
  print(f"할인 금액 대상이 아닙니다.{total_price}원을 결제해주세요.")

구입 금액을 입력하세요 : 100000
구입 금액 : 100000원
할인 금액 : 5000.0원
지불 금액 : 95000.0원

In [ ]:
# 문자열의 중앙에 있는 문자를 추출해서 출력을 하는 프로그램을 만들기
# 예를 들어 문자열이 "weekday"라면 중앙의 숫자는 "k"가 된다.
# 하지만, 만약 문자열이 짝수 개의 문자를 가지고 있다면 중앙의 자를 2개 출력한다.
# 예를 들어 "monday"라면 "nd"를 출력하도록 한다.

In [ ]:
str_1 = input("문자를 입력하세요 : ")
length = len(str_1) # 문자열의 길이를 구하고 있는 코드
# 문자열의 길이를 2로 나누어서 나머지가 1이라는 것은 문자열의 길이가 홀수라는 것
if (length %2) == 1:
  ch = str_1[length//2]
  print("중앙에 있는 한 글자는 ", ch)
else:
  ch1 = str_1[length//2-1]
  ch2 = str_1[length//2]
  print("중앙에 있는 두 글자는 ", ch1, ch2)

문자를 입력하세요 : danchu
중앙에 있는 두 글자는  n c

In [ ]:
# 논리 연산자(logical operator)는 두 개 이상의 조건을 조합해서 참이닞 거짓인지 계산할 때 사용하는 연산자다.
# 논리 연산자의 종류에는 and(논리곱), or(논리합), not(논리부정)이 있다.
# and 논리 연산자의 실습
name = "박시현"
age = 29
height = 158
# and 논리연산자는 여러개의 조건 중에서 처음 조건이 거짓이라면 다른 조건은 검사하지않는다.(단축계산)
# and 논리연산자는 모든 조건이 참이어야 참을 반환한다.
if (age >= 20) and (height >= 160):
  print("놀이기구를 탈 수 있습니다.")
else:
  print("놀이기구를 탈 수 없습니다.")

print("-"*20)
# or 논리연산자의 실습
# or 논리 연산자는 모든 조건 중 하나만 참이면 참을 반환한다.
# or 논리 연산자는 모든 조건이 거짓이어야만 거짓을 반환한다.
if (age >= 20) or (height >= 150):
  print("놀이기구를 탈 수 있습니다.")
else:
  print("놀이기구를 탈 수 없습니다.")

print("-"*20)
# 논리 부정 연산자인 not에 대한 실습
# 논리 부정 연산자인 not는 조건이 참이면 전제 조건식의 결과를 반대로 거짓으로 만들고
# 조건식의 결과가 거짓이라면 참으로 바꾸는 역할을 한다.
if not(1==1):
  print("참입니다.")
else:
  print("거짓입니다.")

놀이기구를 탈 수 없습니다.
--------------------
놀이기구를 탈 수 있습니다.
--------------------
거짓입니다.

In [ ]:
학점 = int(input("이수 학점을 입력하세요 : "))
평점 = float(input("평점을 입력하세요 : "))

if 학점 >= 140 and 평점 >= 2.0:
  print("졸업을 축하합니다.")
else:
  print("졸업할 수 없습니다.")
  print(f"학점은{140-학점}점, 평점은 {2.0 - 평점}점 부족합니다.")

이수 학점을 입력하세요 : 120
평점을 입력하세요 : 4.0
졸업할 수 없습니다.
학점은20점, 평점은 -2.0점 부족합니다.

In [ ]:
몸무게 = float(input("몸무게를 입력하세요 : "))
키 = float(input("키를 입력하세요 : "))
키_ = 키 / 100
BMI = 몸무게 / (키_ * 키_)
print(BMI)
if 20<= BMI >=25:
  print("체중관리가 필요합니다.")
else:
  print("정상입니다.")

몸무게를 입력하세요 : 58
키를 입력하세요 : 158
23.233456176894723
정상입니다.

In [ ]:
score = int(input("성적을 입력하세요 : "))

if score >= 90:
  print("A")
elif 90>score>=80:
  print("B")
elif 80>score>=70:
  print("C")
elif 70>score>=60:
  print("D")
else:
  print("F")

성적을 입력하세요 : 63
D

In [ ]:
apple_quality = input("사과의 상태를 입력하시오(좋음, 나쁨) : ")
apple_price = int(input("사과 1개당 가격을 입력하세요 : "))

if apple_quality == "좋음":
  if apple_price < 1000: # 중첩 if 구문
    print("10개를 산다")
  else:
    print("5개를 산다")
else:
  print("이게뭐야")

사과의 상태를 입력하시오(좋음, 나쁨) : 나쁨
사과 1개당 가격을 입력하세요 : 500
이게뭐야

In [ ]:
apple_quality = input("사과의 상태를 입력하시오(좋음, 나쁨) : ")
apple_price = int(input("사과 1개당 가격을 입력하세요 : "))

if apple_quality == "좋음" and apple_price < 1000:
  print("10개를 산다")

else:
  print("이게 뭐야")

사과의 상태를 입력하시오(좋음, 나쁨) : 좋음
사과 1개당 가격을 입력하세요 : 2000
이게 뭐야

In [ ]:
apple_quality = input("사과의 상태를 입력하시오(좋음, 나쁨) : ")

if apple_quality == "좋음":
  apple_price = int(input("사과 1개당 가격을 입력하세요 : ")) # if 아래에 가격을 넣어서 사과가 안좋으면 안삼
  if apple_price < 1000: # 중첩 if 구문
    print("10개를 산다")
  else:
    print("5개를 산다")
else:
  print("이게뭐야")

사과의 상태를 입력하시오(좋음, 나쁨) : 좋음
사과 1개당 가격을 입력하세요 : 3500
5개를 산다

In [ ]:
num = int(input("정수를 입력하시오 : "))

if num > 0:
  print("양수입니다.")
elif num ==0:
  print("0입니다.")
else:
  print("음수입니다.")

정수를 입력하시오 : -1
음수입니다.

In [ ]:
from random import*

In [ ]:
# randint(a, b) 함수는 a부터 b 사이에 있는 정수를 반환해주는 함수
dice = randint(1, 6)
print(dice)
if dice == 1:
  print(dice)
elif dice == 2:
  print(dice)
elif dice == 3:
  print(dice)
elif dice == 4:
  print(dice)
elif dice == 5:
  print(dice)
else:
  print(6)

6
6

In [ ]:
#random() 함수는 0.0부터 1.0 미만의 임의의 값을 float 형태로 반환해주는 함수
num = random()
num

0.9787349948345871

In [ ]:
# randrange(start, stop, step) 함수는 start에서 stop까지 step의 값에 따라 임의의 수를 반환해준다.
num = randrange(1, 101, 2)
print(num)
# randrange(a) 함수는 0에서부터 a미만까지의 임의의 정수값을 반환하는 함수
num2 = randrange(101)
print(num2)

17
12

In [ ]:
age = int(input("나이를 입력하세요 : "))

if age >= 20:
  print("성인입니다.")
elif age >= 17:
  print("고등학생입니다.")
elif age >= 14:
  print("중학생입니다.")
elif age >= 8:
  print("초등학생입니다.")
else:
  print("미취학 아동입니다.")

나이를 입력하세요 : 14
중학생입니다.

In [ ]:
birth_year = int(input("태어난 년도를 입력하세요 : "))
age  = 2022 - birth_year + 1
print(age)

if age >= 20:
  print("성인입니다.")
elif age >= 17:
  print("고등학생입니다.")
elif age >= 14:
  print("중학생입니다.")
elif age >= 8:
  print("초등학생입니다.")
else:
  print("미취학 아동입니다.")

태어난 년도를 입력하세요 : 2010
13
초등학생입니다.

In [ ]:
id_lst = ["sihyun118", "w_you_", "sihyun95"]
pw = "1234"
id = input("id를 입력하세요 : ")

if id in id_lst: # 사용자가 입력한 id가 id_lst에 있는지 확인하는 코드
  pw_ = input("비밀번호를 입력하세요")
  if pw == pw_:
    print(f"{id}님이 로그인하셨습니다.")
  else :
    print("비밀번호가 틀렸습니다.")

else :
  print("등록되지 않은 id입니다. 회원가입해주세요.")

id를 입력하세요 : sihyun118
비밀번호를 입력하세요1234
sihyun118님이 로그인하셨습니다.

In [ ]:
score = int(input("성적을 입력하세요 : "))
grade = ""
if score >= 90:
  if score >= 95:
    grade = "A+"
  else:
    grade = "A0"
elif 90>score>=80:
  if score >= 85:
    grade = "B+"
  else:
    grade = "B0"
elif 80>score>=70:
  if score >= 75:
    grade = "C+"
  else:
    grade = "C0"
elif 70>score>=60:
  if score >= 65:
    grade = "D+"
  else:
    grade = "D0"
else:
  print("F")

print(grade)

성적을 입력하세요 : 78
C+

In [ ]:
month = int(input("월을 입력하세요 : "))

if month == 2:
  print(f"{month}월은 28일 입니다.")
elif (month == 1) or (month ==3) or (month == 5) or (month == 7) or (month == 8) or (month == 10) or (month == 12):
  print(f"{month}월은 31일 입니다.")
else:
  print(f"{month}월은 30일 입니다.")

월을 입력하세요 : 8
8월은 31일 입니다.

사용자로부터 연도를 입력받고 윤년인지 아닌지를 판단하는 프로그램 만들기
윤년의 조건
1. 연도가 4로 나누어 떨어지면 윤년이다.
2. 100으로 나누어 떨어지는 연도는 제외한다.
3. 400으로 나누어 떨어지는 연도는 윤년이다

In [ ]:
year = int(input("연도를 입력하세요 : "))

if year % 4 == 0
  if year % 100 == 0:
    print(f"{year}년은 윤년이 아닙니다.")
  else:
    print(f"{year}년은 윤년입니다.")
elif year % 400 == 0:
  print(f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요 : 2020
2020년은 윤년입니다.

In [ ]:
year = int(input("연도를 입력하세요 : "))

if ((year % 4) == 0 and (year % 100) != 0) or (year % 400) == 0:
  print (f"{year}년은 윤년입니다.")
else:
  print(f"{year}년은 윤년이 아닙니다.")

연도를 입력하세요 : 2020
2020년은 윤년입니다.

In [ ]:
# 숫자 추측 게임을 만들기
from random import *
# 1~100까지 임의의 수 (난수)를 발생시키는 코드
rand_num = randint(1, 100)
user_num = int(input("숫자를 맞춰보세요 : "))
cnt = 0
while True :
  if user_num == rand_num:
    cnt += 1
    print(f"정답입니다. 게임을 종료합니다.{cnt}번 만에 성공했습니다.")
    break
  elif user_num > rand_num:
    print("down")
    cnt += 1
  else:
    print("up")
    cnt += 1
  user_num = int(input("숫자를 다시 입력해주세요"))

숫자를 맞춰보세요 : 50
up
숫자를 다시 입력해주세요75
up
숫자를 다시 입력해주세요86
down
숫자를 다시 입력해주세요80
down
숫자를 다시 입력해주세요78
down
숫자를 다시 입력해주세요77
down
숫자를 다시 입력해주세요76
정답입니다. 게임을 종료합니다.7번 만에 성공했습니다.

In [ ]:
# range(x)를 이용하면 정수 리스트를 사용하는 것 보다 훨씬 효율적이고 가독성도 좋다
# range() 함수는 리스트 타입으로 반환해준다
# range(x) : 0부터 시작하고 마지막 값-1까지 정수 리스트 타입으로 반환해준다.
for x in range(5):
  print("안녕하세요")
# range() 함수의 타입은 range 객체 타입니다.
print(type(range(5)))

안녕하세요
안녕하세요
안녕하세요
안녕하세요
안녕하세요
<class 'range'>

In [ ]:
# 문자열 리스트를 시퀀스로 가질 때의 for문
s = ["송몽숙", "망난이", "장폰주", "구라베", "백노바"]
for name in s:
  print(f"반갑습니다. {name}님!")

반갑습니다. 송몽숙님!
반갑습니다. 망난이님!
반갑습니다. 장폰주님!
반갑습니다. 구라베님!
반갑습니다. 백노바님!

In [ ]:
# 줄바꿈을 하지 않게 하는 end 인자값을 확인해보기

for name in s:
  print(f"{name}님, 반갑습니다!", end = '/')

송몽숙님, 반갑습니다!/망난이님, 반갑습니다!/장폰주님, 반갑습니다!/구라베님, 반갑습니다!/백노바님, 반갑습니다!/

In [ ]:
# range() 함수 실습하기
# range(x) 매개변수 1개짜리 함수를 이용
sum = 0
for x in range(10):
  sum += x
print(sum)

45

In [ ]:
# 2. range(start, stop) 매개변수 2개짜리 함수를 이용
# 누적을 하는데 stop 값은 포함하지 않는다.
hap = 0

for x in range(0, 10):
  hap += x
print(hap)

45

In [ ]:
# 3. range([start,] stop[, step]) 매개변수 3개짜리 함수를 이용, 누적하는데 stop 값은 포함하지 않는다.
# 누적시킬때 step만큼 건너띄어 리스트를 생성한다.
# 대괄호 [] 감싸져 있는 매개변수 값은 생략 가능하다
hip = 0
for x in range(0, 10, 3):
  hip += x
print(hip)

18

In [ ]:
# 문자열 실습
# 문자열도 시퀀스에 대상에 포함된다. for문을 통해 문자를 추출하여 출력할 수 있다.

name = "Song Mong Suk"
for ch in name:
  print(ch, end = " ")

S o n g   M o n g   S u k

In [ ]:
# 1부터 사용자가 입력한 수 num까지 더해서 합계를 구하는 프로그램을 for문을 이용해서 작성하시오.

sum = 0
num = int(input("정수를 입력하시오 : "))

for x in range(1, num+1):
  sum += x
print(sum)

정수를 입력하시오 : 10
55

In [ ]:
sum = 0
num = int(input("정수를 입력하시오 : "))
for x in range(1, num+1):
  sum += x
print(sum)

정수를 입력하시오 : 10
55

In [ ]:
sum = 0
for x in range(101):
  if sum >= 2000:
    print("값이 2000을 초과합니다.", x)
    break
  else:
    sum += x
print(sum)
print("done")

값이 2000을 초과합니다. 64
2016
done

In [ ]:
# for문을 이용하여 팩토리얼(factorial)을 계산하는 프로그램을 작성해보자.
# 팩토리얼 n!은 1부터 n까지의 정수를 모두 곱한 것을 의미한다.
# f(1) = 1이다.

fact = 1.0
n = int(input("정수를 입력하세요"))

for x in range(1, n+1):
  fact *= x
print(f"{n}!은{fact} 입니다.")

정수를 입력하세요4
4!은24.0 입니다.

In [ ]:
# 피보나치 수열을 구하는 프로그램 만들기
# 피보나치 수열이란 앞의 두 개의 수를 더해서 다음 수를 결정짓는 수열이다.
# 예) 사용자로부터 13을 입력받고 난 뒤 피보나치 수열의 값 : 1 1 2 3 5 8 

n1 = 1
n2 = 1
n3 = 1

num = int(input("피보나치 수열을 만들 정수를 입력하세요 : "))
for i in range(1, num):
  if i < 3:
    n3 = 1
  else:
    n3 = n1 + n2
    n1 = n2
    n2 = n3
  # 사용자로부터 입력받은 값보다 작은 수만 출력하게끔 하였다.
  if n3 < num:
    print(n3, end = " ")

피보나치 수열을 만들 정수를 입력하세요 : 30
1 1 2 3 5 8 13 21

In [ ]:
# 화씨 온도 - 섭씨온도 변환 테이블을 출력하는 프로그램 작성
# for 문을 사용하며, 실수로 나타내도록 한다. 화씨 0도부터 100도까지 10도 단위로 증가시키면서
# 대응되는 섭씨 온도를 출력하도록 하자.
# 공식 : C = (F - 32) * 5 / 9

C = 0

for F in range(0, 101, 10):
  C = (F - 32) * 5.0 / 9.0
  print(F, round(C, 2), sep="\t") #round(C, 2) 소수 둘째짜리까지 나타내라

0	-17.78
10	-12.22
20	-6.67
30	-1.11
40	4.44
50	10.0
60	15.56
70	21.11
80	26.67
90	32.22
100	37.78

In [ ]:
 #  사용자로부터 출력하고 싶은 구구단을 출력하는 프로그램을 만들기

dan = int(input("출력하고 싶은 구구단을 입력하시오 : "))
time = range(1, 10)
for times in time:
  print(f"{dan} x {times} = {dan*times}")

출력하고 싶은 구구단을 입력하시오 : 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [ ]:
num1 = int(input(" 첫 번째 정수를 입력하시오 : "))
num2 = int(input(" 두 번째 정수를 입력하시오 : "))

for i in range(num1, num2+1):
  # 3의 배수이면서 4의 배수를 출력에서 제외한다.
  if (i%3) == 0 and (i%4) == 0:
    continue # continue는 조건식이 참이면 아채 문장을 실행하지 않고 for문으로 이동하여 증가한다.
  print(i)

 첫 번째 정수를 입력하시오 : 1
 두 번째 정수를 입력하시오 : 2
1
2

In [ ]:
a = ["미역국", "소고기", "돼지고기"]
b = ["아침", "점심", "저녁"]

result = {meal : food for meal, food in zip(b, a)}
print(result)

{'아침': '미역국', '점심': '소고기', '저녁': '돼지고기'}

In [ ]:
# while 문은 조건을 정해놓고 반복을 하는 구조이다

i = 0
while i < 5:
  print("반갑습니다.")
  i+=1 # 만약 좌측 코드가 없다면 while문은 무한루프를 돌 것이다.
print("반복이 종료되었습니다.")

반갑습니다.
반갑습니다.
반갑습니다.
반갑습니다.
반갑습니다.
반복이 종료되었습니다.

In [ ]:
# 숫자 0~9까지 줄바꿈 없이 출력하기
i = 0
while i < 10:
  print(i, end=" ")
  i += 1

0 1 2 3 4 5 6 7 8 9

In [ ]:
i = 1
sum = 0
while i <=10 :
  sum += i
  i += 1 
print(sum)

55

In [ ]:
# while 문을 사용하여 팩토리얼을 구하는 예제
# f(1)=1
i = 1
fa = 1
while i <= 5:
  fa *= i
  i += 1
print(f"5!의 값은 {fa}입니다.")

5!의 값은 120입니다.

In [ ]:
# 3단을 출력하는 예제
i = 1
print("===3단===")
while i <= 9:
  # % 뒤에 오는 숫자들은 출력할 때 자릿수를 차지하게끔 만들어준다
  print("3 * %d = %2d" %(i, 3*i))
  i += 1

===3단===
3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [ ]:
# 1부터 100까지 3의 배수만 누적값을 구하는 예제

In [ ]:
i = 1
sum = 0

while i <= 100:
  # 3의 배수인지 확인하는 조건
  if (i%3) == 0:
    sum += i
  i += 1
print(sum)

1683

In [ ]:
# 정수 안의 각 자리수의 합을 계산하는 예제

num = 1234
sum = 0

while num > 0:
  digit = num % 10 # 해당하는 자릿수의 값을 구하는 코드
  sum += digit
  num = num // 10 # 10으로 나누어 줌으로써 몫만 num에 저장되는 코드

print(sum)

10

In [ ]:
# 사용자로부터 임의의 개수의 성적을 입력받아서 합계와 평균을 계산한 후 
# 출력하는 프로그램을 작성해보시오. 단 센티널은 음수의 값을 사용하시오.
cnt = 0
sum = 0
score = 0
aver = 0.0

# 센티널을 사용자에게 제시하는 코드
print("종료하시려면 음수를 입력하세요. (예 : -1)")

while score >= 0:
  score = int (input(f"{cnt+1}번째 학생의 성적을 입력해주세요 : "))
  # 음수값인지 검사하는 코드
  if score >= 0:
    sum += score # 성적의 합계를 구하는 코드
    cnt += 1 # 학생의 수를 누적하는 코드
# 합계fmf 계산하는 코드
if cnt > 0:
  aver = sum /cnt
# 합계와 평균을 출력하는 코드
print(f"{cnt+1} 학생의 평균은 {aver}입니다.")

종료하시려면 음수를 입력하세요. (예 : -1)
1번째 학생의 성적을 입력해주세요 : 10
2번째 학생의 성적을 입력해주세요 : 30
3번째 학생의 성적을 입력해주세요 : 20
4번째 학생의 성적을 입력해주세요 : 40
5번째 학생의 성적을 입력해주세요 : 50
6번째 학생의 성적을 입력해주세요 : 60
7번째 학생의 성적을 입력해주세요 : 70
8번째 학생의 성적을 입력해주세요 : 80
9번째 학생의 성적을 입력해주세요 : 90
10번째 학생의 성적을 입력해주세요 : 100
11번째 학생의 성적을 입력해주세요 : -1
11 학생의 평균은 55.0입니다.

In [ ]:
# 임의의 숫자를 발생시켜 숫자를 맞추는 게임을 만들어보기
from random import*
cnt = 0
num = randint(1, 100)
print(num)
print("1부터 100사이의 숫자를 맞추어 보세요. 기회는 10번입니다.")

while cnt < 10:
  guess = int(input("숫자를 입력하세요 : "))
  cnt += 1
  if guess < num:
    print("up")
  elif guess > num:
    print("down")
  elif guess == num:
    print("clear")
    code = input("게임을 계속하시겠습니까?")
    if code == "n":
      print("게임을 종료합니다.")
      break
    else:
      ("게임을 재시작합니다")
print("done")

95
1부터 100사이의 숫자를 맞추어 보세요. 기회는 10번입니다.
숫자를 입력하세요 : 100
down
숫자를 입력하세요 : 90
up
숫자를 입력하세요 : 95
clear
게임을 계속하시겠습니까?n
게임을 종료합니다.
done

In [ ]:
# 사용자로부터 상품금액을 입력받아서 상품의 총 가격을 계산하는 프로그램 만들기
# 사용자가 몇 개의 상품을 살지 모르니까 무한루프를 이용하고
# 사용자가 끝이라고 입력하면 루프를 탈출하게끔 조건을 주도록 한다.
from operator import eq
price = 0
total_price = 0
goods = 1

while True :
  price = input(f"{goods}번째 상품의 금액을 입력하시오 : ")
  # "끝"이라는 입력 문구가 있는지 확인하는 코드, 무한루프를 탈출하는 코드
  goods += 1
  if eq(price, "끝"): # if price =="끝" 동일한 코드
    print(f"구매하신 물건은 총 {goods-2}개, 가격은 {str(total_price)}원 입니다.")    
    break
  # 상품의 가격을 누적하는 코드
  total_price += int(price)

1번째 상품의 금액을 입력하시오 : 15000
2번째 상품의 금액을 입력하시오 : 35000
3번째 상품의 금액을 입력하시오 : 65000
4번째 상품의 금액을 입력하시오 : 끝
구매하신 물건은 총 3개, 가격은 115000원 입니다.

In [ ]:
# 1. 증속, 2. 감속, 3. 중지를 출력하고 사용자의 입력을 숫자로 받아서
# 증속을 하면 속도를 10씩 증가시키고 출력해준다.
# 감속을 하면 속도를 10씩 감소하고 출력해준다.
# 중지를 하면 플래그 변수를 이용하여 무한루프를 빠져나간다
# 플래그 변수를 사용한 무한루프 문제

run = True
print(type(run))
speed = 0
key_code = 0

while run:
  print("="*30)
  print("1. 증속  |  2. 감속  |  3. 중지 ")
  print("="*30)
  key_code = int(input("선택 : "))
  # 증속일 경우
  if key_code == 1:
    speed += 10
    print(f"현재 속도 : {speed}")
    # 감속일 경우
  elif key_code == 2:
    speed -= 10
    # speed가 음수일 경우 경고
    if speed < 0:
      pri nt("속도가 0입니다. 감속할 수 없습니다. 다시 선택해주세요")
      speed = 0
    else:
      print(f"현재 속도 : {speed}")
    # 중지일 경우 플래그 변수를  False로 설정해주므로서 무한 루프를 탈출하는 코드
  elif key_code ==3:
    run = False
  # 사용자가 잘못 입력했을 경우
  else:
    print("잘못된 값입니다. 다시 입력해 주세요 : ")
print("프로그램을 종료합니다.")

<class 'bool'>
==============================
1. 증속  |  2. 감속  |  3. 중지
==============================
선택 : 2
속도가 0입니다. 감속할 수 없습니다. 다시 선택해주세요
==============================
1. 증속  |  2. 감속  |  3. 중지
==============================
선택 : 10
잘못된 값입니다. 다시 입력해 주세요 :
==============================
1. 증속  |  2. 감속  |  3. 중지
==============================
선택 : 1
현재 속도 : 10
==============================
1. 증속  |  2. 감속  |  3. 중지
==============================
선택 : 3
프로그램을 종료합니다.

In [ ]:
# 중첩 루프는 테이블(표)와 비슷한 형태를 출력하고자 할 때 사용하면 아주 좋다.

for y in range(5):
  for x in range(10):
    print("*", end="")
 # 외곽 루프에서 줄바꿈을 해 줘야 *로 사각형이 생긴다.
  print("")

**********
**********
**********
**********
**********

In [ ]:
for y in range(5): # 5행을 만든다
  for x in range(y+1):
    print("*", end = "")
  print("")

*
**
***
****
*****

In [ ]:
# format() 함수 이용
# format 함수는 {}를 이용하고 숫자도 같이 이용된다.
print(f"정수값 : {10}, string : {'안녕하세요'}, float : {10.10}")

정수값 : 10, string : 안녕하세요, float : 10.1

In [ ]:
# format()는 공간확보 및 0으로 채우는 기능도 지원한다.
# 콜론(:)을 기준으로 우측에 > 또는 < 부등호를 사용해서 방향을 지정해줄 수 있다.
print("숫자 '{:>5d}'".format(300)) # 오른쪽(>)으로 밀어서 출력
print("숫자 '{:<5d}'".format(300)) # 왼쪽(<)으로 밀어서 출력

숫자 '  300'
숫자 '300  '

In [ ]:
for y in range(5, 0, -1):
  for x in range(y):
    print("*", end = "")

  print("")

*****
****
***
**
*

In [ ]:
for i in range(1, 6):
  for j in range(5-i):
    #공백을 찍는 내부 루프
    print(" ", end="")
  for j in range(1, i*2):
    print("*", end = "")
  print("")

    *
   ***
  *****
 *******
*********

In [ ]:
# 위의 삼각형을 찍는 루프
for i in range(1, 6):
  for j in range(5-i):
    #공백을 찍는 내부 루프
    print(" ", end="")
  for j in range(1, i*2):
    print("*", end = "")
  print("")
  # 아래의 역삼각형 부분을 별로 찍는 코드
for i in range(5):
  for j in range(i):
    #공백을 찍는 내부 루프
    print(" ", end="")
  for j in range(10, (i*2)+1, -1):
    print("*", end = "")
  print("")

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
# 소수를 2부터 계속 더할 떄, 2000보다 작은 최대합은 얼마이고,
# 마지막으로 더해지는 소수는 얼마인지 출력하는 프로그램을 작성해보자.
# 더블루프, 조건식 사용
start_num = 0
num = 0
sum = num
while x in True:
  if sum >= 2000:
    print("값이 2000을 초과합니다.", x)
    break
  else:
    sum += x
print(sum)
print("done")

In [ ]:
# def 키워드 함수이름(매개변수)
def say_hello(name): #함수의 선언부(헤더)
  print("안녕하세요, " + name) # 함수의 구현부, (정의부, 몸체)

In [ ]:
# 위와 같이 함수를 정의만 했다면 출력값은 없다. 
# 출력값이 나오게 하기 위해 호출(call)을 해야한다.
# 함수호출(function call)
say_hello("송몽숙")

안녕하세요, 송몽숙

In [ ]:
# 파이썬에서는 오버로딩의 개념이 없다. 같은 함수의 이름이라면 마지막에 정의된 함수만 인식하게 된다.
def say_hello(name, msg): #함수의 선언부(헤더)
  print(f"안녕하세요, {name}님 {msg}") # 함수의 구현부, (정의부, 몸체)

In [ ]:
say_hello("송몽숙", "반갑습니다")

안녕하세요, 송몽숙님 반갑습니다

In [ ]:
# 값을 반환하는 함수 예제
# start부터 end까지 누적합을 반환하는 함수
def get_sum(start, end):
  sum = 0
  for i in range(start, end+1):
    sum += i
  return sum

In [ ]:
# get_sum()을 이용하여 범위값의 누적합을 구하는 코드
result = get_sum(1, 10)
print(result, type(result))

55 <class 'int'>

In [ ]:
get_sum(1, 100)

5050

In [ ]:
# 사용자로부터 입력받은 정수를 제곱하여 반환하는 함수를 만들어보시오.
# 함수를 선언 및 구현
def get_gop(num):
  gop = num **2
  return gop
# 함수 호출
num = int(input("제곱할 정수를 입력하시오 : "))
print(f"제곱하기 전 {num}")
print(f"제곱한 후 {get_gop(num)}")

제곱할 정수를 입력하시오 : 2
제곱하기 전 2
제곱한 후 4

In [ ]:
get_gop(2)

4

In [ ]:
get_gop(3)

9

In [ ]:
get_gop(5)

25

In [ ]:
# 두 개의 정수를 입력받아, 더 큰 수를 찾아 리턴하는 함수를 만들어보자.

def get_max(num1, num2):
  max_ = max(num1, num2)
  return max_

num1 = int(input("정수를 입력하시오 : "))
num2 = int(input("정수를 입력하시오"))
print(f"입력한 정수{num1}, {num2}")
print(f"두 수 중 더 큰 수는 {get_max(num1, num2)}입니다.")

정수를 입력하시오 : -320
정수를 입력하시오320
입력한 정수-320, 320
두 수 중 더 큰 수는 320입니다.

In [ ]:
# 거듭제곱 구하는 함수

def get_ggop()

In [ ]:
# 섭씨 온도를 화씨 온도로 변환하여 반환하는 함수 FtoC()
def FtoC(num):
  F = (5.0*(num-32.0))/9.0
  return F

In [ ]:
num = float(input("섭씨를 입력하시오 : "))
print(f"입력하신 섭씨 {num}을(를), 화씨로 변환하면 {round(FtoC(num), 2)}입니다.")

섭씨를 입력하시오 : 70
입력하신 섭씨 70.0을(를), 화씨로 변환하면 21.11입니다.

In [ ]:
def sum(x, y):
  return x+y
def my(x, y):
  return x-y
def gop(x, y):
  return x*y
def na(x, y):
  return round(x/y, 2)

In [ ]:

temp = "y"
while True:
  if temp == "n":
    break
  elif temp == "y":
    x = float(input("첫번째 수를 입력하세요 : "))
    op = input("원하는 연산을 입력하세요 : ")
    y = float(input("두번째 수를 입력하세요 : "))
    if op == "+" :
      print(sum(x, y))
    elif op == "-" :
      print(my(x, y))
    elif op == "*" :
      print(gop(x, y))
    elif op == "/":
      print(na(x, y))
    else:
      print("잘못된 계산입니다.")
    temp = input("계산을 계속하시겠습니까? (y/n) : ")
print("계산기를 종료합니다.")

첫번째 수를 입력하세요 : 10
원하는 연산을 입력하세요 : *
두번째 수를 입력하세요 : 2
20.0
계산을 계속하시겠습니까? (y/n) : n
계산기를 종료합니다.

In [ ]:
print("하잉")

하잉

In [ ]:
# 함수가 리턴값이 없는 경우

def printInfo(name, age):
  print("="*20)
  print(f"이름 : {name}")
  print(f"나이 : {age}")
  print("="*20)
  return #리턴값이 존재하지 않는다면 return문 뒤에 아무 내용도 기재하지 않는다.

In [ ]:
print("이름과 나이를 입력해주세요.(입력종료 : q)")
end_input = "y"
while True:
  if end_input == "n" :
    print("입력을 종료합니다.")
    break
  elif end_input == "y" :
    name = input("회원명을 입력하세요 : ")
    age = int(input("나이를 입력하세요 : "))
    printInfo(name, age)

  end_input = input("계속 입력하시겠습니까? (y / n) : ")

이름과 나이를 입력해주세요.(입력종료 : q)
회원명을 입력하세요 : dd
나이를 입력하세요 : 22
====================
이름 : dd
나이 : 22
====================
계속 입력하시겠습니까? (y / n) : n
입력을 종료합니다.

In [ ]:
# 디폴트 인수(default argument)
# 함수의 매개변수가 기본 값을 가지게 하는 방법
# hello()는 매개변수 2개를 가지지만 디폴트 인수가 있어서 name에 대응되는 인수값만 가지고도 호출이 가능하다.
def hello(name, msg = "반갑습니다."):
  print(f"안녕하세요 {name}, {msg}")
hello("몽숙")
# 매개변수 name, msg는 기본 인수값이 존재하지만 아래와 같이 매개변수를 직접 입력하면 기본 인수값은 무시된다.
hello("몽숙", "안녕히가세요.")

안녕하세요 몽숙, 반갑습니다.
안녕하세요 몽숙, 안녕히가세요.

In [ ]:
# 값에 의한 호출(call by value), 값에 의한 전달(pass by value)은 동일한 개념이다
# 함수를 호출할 떄, 값이 복사가된다. 호출한곳에 영향을 까치지 않는다.

def change(num):
  num += 10
# 파이썬에서는 모든 값들이 객체로 이루어져있다.
  print("change() 내의 num 값 : ", num)

n = 100
print("호출 전 n의 값 : ", n)

change(n)
print("호출 후 n의 값 : ", n)

호출 전 n의 값 :  100
change() 내의 num 값 :  110
호출 후 n의 값 :  100

In [ ]:
# 문자열 전달에 대한 실습

def change(string):
  string += "공부합니다."
  print("change() 내의 string 값 : ", string)


msg = "안녕하세요 저는 파이썬을 "
print("호출 전 msg 값 : " + msg)
change(msg)
print("호출 후 msg 값 : " + msg)

호출 전 msg 값 : 안녕하세요 저는 파이썬을
change() 내의 string 값 :  안녕하세요 저는 파이썬을 공부합니다.
호출 후 msg 값 : 안녕하세요 저는 파이썬을

In [ ]:
# call by reference에 대한 실습
# 함수를 호출할 때 실질적인 주소값이 넘어가서 호출한 곳에 영향을 끼치는 형태
# 파이썬에서는 함수의 매개변수값이 전부 객체인데 list, dictionary와 같은 mutable object,
# 즉 변경 가능한 객체이므로 call by objective-reference라고 한다.

def change(li):
  print("change() 함수 내 연산 전 li의 값 : ", li)
  print("change() 함수 내 연산 전 li의 주소값 : ", id(li))
  li += [100, 200]
  print("change() 함수 내 연산 후 li의 값 : ", li)
  print("change() 함수 내 연산 후 li의 주소값 : ", id(li))

list = ["안녕", 1, 2, 3, 1.1]
print("change() 함수 호출 전 list의 값 : ", list)
print("change() 함수 호출 전 list의 주소값 : ", id(list))

change(list)
print("change() 함수 호출 후 list의 값 : ", list)
print("change() 함수 호출 후 list의 주소값 : ", id(list))

change() 함수 호출 전 list의 값 :  ['안녕', 1, 2, 3, 1.1]
change() 함수 호출 전 list의 주소값 :  139912753023808
change() 함수 내 연산 전 li의 값 :  ['안녕', 1, 2, 3, 1.1]
change() 함수 내 연산 전 li의 주소값 :  139912753023808
change() 함수 내 연산 후 li의 값 :  ['안녕', 1, 2, 3, 1.1, 100, 200]
change() 함수 내 연산 후 li의 주소값 :  139912753023808
change() 함수 호출 후 list의 값 :  ['안녕', 1, 2, 3, 1.1, 100, 200]
change() 함수 호출 후 list의 주소값 :  139912753023808

In [ ]:
# mutable object 중 dictionary 라는 타입이 있다.
# 딕셔너리 타입의 형태는 키와 값의 쌍으로 이루어져 있다.
# 딕셔너리의 키 값은 유니크한 값이 되어야 한다. 그러나 값은 변경 가능하다.
# 딕셔너리의 call by reference가 성립되는 이유는 mutable object이기 때문이다.
def change(dic):
  print("change() 함수 내 연산 전 dic의 값 : ", dic)
  print("change() 함수 내 연산 전 dic의 주소값 : ", id(dic))
  dic["sex"] = "여성"
  print("change() 함수 내 연산 후 dic의 값 : ", dic)
  print("change() 함수 내 연산 후 dic의 주소값 : ", id(dic))

dic = {"name" : "송몽숙", "age" : 32, "height" : 165}
print(dic)
print("change() 함수 연산 전 dic의 값 : ", dic)
print("change() 함수 연산 전 dic의 주소값 : ", id(dic))
change(dic)
print(dic)
print("change() 함수 연산 후 dic의 값 : ", dic)
print("change() 함수 연산 후 dic의 주소값 : ", id(dic))

{'name': '송몽숙', 'age': 32, 'height': 165}
change() 함수 연산 전 dic의 값 :  {'name': '송몽숙', 'age': 32, 'height': 165}
change() 함수 연산 전 dic의 주소값 :  139912985661264
change() 함수 내 연산 전 dic의 값 :  {'name': '송몽숙', 'age': 32, 'height': 165}
change() 함수 내 연산 전 dic의 주소값 :  139912985661264
change() 함수 내 연산 후 dic의 값 :  {'name': '송몽숙', 'age': 32, 'height': 165, 'sex': '여성'}
change() 함수 내 연산 후 dic의 주소값 :  139912985661264
{'name': '송몽숙', 'age': 32, 'height': 165, 'sex': '여성'}
change() 함수 연산 후 dic의 값 :  {'name': '송몽숙', 'age': 32, 'height': 165, 'sex': '여성'}
change() 함수 연산 후 dic의 주소값 :  139912985661264

In [ ]:
# 지역변수와 전역변수에 대한 실습
# 지역변수 : 파이썬에서는 함수 안에 정의된 변수를 지역변수라고 한다.
# 지역변수의 범위(scope)는 함수 내에서만 사용되고 함수 호출 뒤 종료되면 지역변수는 소멸된다.

def test():
  text = "파이썬 공부" # 지역변수 text에 문자열 할당
  print(text) # 출력함수를 이용하여 text를 출력함.
# test()를 호출한 후, "파이썬 공부"라는 문자열을 출력하면서 리턴값은 없다.
test()

파이썬 공부

In [ ]:
def test():
  text = "파이썬 공부" # 지역변수 text에 문자열 할당, 범위는 test() 내에서만 사용
  print(text) # 출력함수를 이용하여 text를 출력함.
# test()를 호출한 후, "파이썬 공부"라는 문자열을 출력하면서 리턴값은 없다.
test()
# 전역변수에서 text()가 정의되지 않았기 때문에 오류가 난다.
print(text)

파이썬 공부
<function text at 0x7f3ff9f07d40>

In [ ]:
# 전역변수 : 함수의 외부에 정의된 변수를 전역변수라고 칭한다.
def test():
  print(text) # test() 함수 내 text라는 지역변수가 없을 때는 전역변수를 가져와서 사용한다.

text = "파이썬 공부"
test()

파이썬 공부

In [ ]:
# 전역변수 : 함수의 외부에 정의된 변수를 전역변수라고 칭한다.
def test():
  print(text)

test()
text = "파이썬 공부"

파이썬 공부

파이썬 공부

In [ ]:
# 매개변수는 함수의 선언부에 존재하며 함수가 호출될 때 비로소 메모리에 할당이 된다.
# 함수가 종료되면 매개변수도 소멸된다.
# 매개변수도 지역변수의 일종이다.

def list_test(my_list):
  print("함수 내 매개변수 my_list의 주소값", id(my_list))
  # 매개변수로 넘어온 my_list에 새로운 리스트를 할당한다.
  # 매개변수로 넘어온 메모리의 주소를 버리고 새롭게 할당된 리스트의 주소를 가지게된다.
  my_list = [1, 2, 3, 4]
  print("함수 내 매개변수 my_list 할당 후 주소값", id(my_list))
  print("함수 내부에서의 my list 값 출력 : ", my_list)


# my_list 타입은 list이므로 변경가능객체
my_list = [100, 200, 300, 400]
print("함수 호출 전 my_list의 주소값", id(my_list))
list_test(my_list)
print("함수 외부에서의 my list 값 출력", my_list)
print("함수 호출 후 my_list의 주소값", id(my_list))

함수 호출 전 my_list의 주소값 140564059903632
함수 내 매개변수 my_list의 주소값 140564059903632
함수 내 매개변수 my_list 할당 후 주소값 140564059961456
함수 내부에서의 my list 값 출력 :  [1, 2, 3, 4]
함수 외부에서의 my list 값 출력 [100, 200, 300, 400]
함수 호출 후 my_list의 주소값 140564059903632

In [ ]:
# 여러 개의 값을 반환하는 함수 실습 타 프로그래밍 언어에서는 함수가 항상 하나의 값만을 반환하거나 반환값이 없다.
# 파이썬에서는 튜플을 이용하여 여러 개의 값을 반환할 수 있다.
# 튜플(tuple)은 몇가지만 제외하고 리스트와 거의 비슷한 자료구조 형태이다.
# 리스트는 []로 값을 둘러싸지만, 튜플은 ()로 값을 둘러싼다
# 리스트는 변경 가능한 객체(생성, 삭제, 수정 추가)이지만
# 튜플은 한번 값으로 만들면 그 값을 변경할 수 없는 객체이다.

# 파이썬에서는 튜플의 형태로 여러개의 값을 리턴하지만
# 함수는 한 가지의 값을 리턴해준다는 정설에는 부합하다.
# 그 이유는 튜플이라는 형태로 한개를 넘기기 때문이다.
def tuple_return():
  return 1, "안녕", 5

a, b, c = tuple_return()
tuple_variable = tuple_return()
print(a, b, c)
print(tuple_variable)
print(type(tuple_variable))
li = list(tuple_variable)
li.append("반갑습니다")
li += "안녕하세요"
print(li)

1 안녕 5
(1, '안녕', 5)
<class 'tuple'>
[1, '안녕', 5, '반갑습니다', '안', '녕', '하', '세', '요']

In [ ]:
# 무명함수(익명함수)에 대한 실습
# 무명함수는 함수명이 없고 구현부만 존재한다. 파이썬에서는 무명함수를 만들때
# lambda 키워드로 만들 수 있다. 무명함수는 print()등과 같은 일반함수를 호출할 수 없다.
# 전역변수를 참조할 수 없다.
# lambda 인수1, 인수2 : 수식 <--문법

def main():
  print("두 정수의 합 : ", get_sum(10, 50))
  print("두 정수의 합 : ", get_sum(100, 50))
  print("람다식을 이용한 무명함수 sum()의 값 : ", sum(10, 50))
  print("람다식을 이용한 무명함수 sum()의 값 : ", sum(100, 150))
  # 람다함수를 출력하면 결과적으로 함수 객체를 출력하는 형태가 된다.
  print(lambda x, y : x + y)
  # 아래 코드가 실질적으로 람다식을 이용한 무명함수를 직접 호출한 형태
  print((lambda x, y : x + y)(10, 50))
#일반적인 함수
def get_sum(x, y):
  return x+y

#lambda 키워드를 이용한 sum() 만들기
# 함다 함수는 코드 안에 함수를 포함하는 어느 곳이든지 다 사용이 가능하다.
# 가장 많이 사용되는 곳은 GUI 프로그램에서 이벤트를 처리하는 콜백함수 형태로 많이 사용된다.
sum = lambda x, y : x + y
# 람다식으로 구성되어진 리스트 데이터
li = [lambda x : x **2, lambda x : x **3, lambda x : x **4]

for f in li:
  print(f(10))

main()

100
1000
10000
두 정수의 합 :  60
두 정수의 합 :  150
람다식을 이용한 무명함수 sum()의 값 :  60
람다식을 이용한 무명함수 sum()의 값 :  250
<function main.<locals>.<lambda> at 0x7f95dc8b19e0>
60

In [ ]:
class Name(odject):

SyntaxError: ignored

In [ ]:
class Book (object):
  author = ""
  title = ""
  publisher = ""
  date = ""

In [ ]:
book = Book()
book.author = "sihyun"
book.title = "megal"
book.publisher = "femi"
book.date = "22.4.7"
print(book.author)

sihyun

In [ ]:
class Book (object):
  author = ""
  title = ""
  publisher = ""
  date = ""
  def print_info(self):
    print(f"Author : {self.author}")
    print(f"Title : {self.title}")
    print(f"Publisher : {self.publisher}")
    print(f"Date : {self.date}")

In [ ]:
book = Book()
book.author = "sihyun"
book.title = "megal"
book.publisher = "femi"
book.date = "22.4.7"
book.print_info()

Author : sihyun
Title : megal
Publisher : femi
Date : 22.4.7

In [ ]:
class Book (object):
  author = ""
  title = ""
  publisher = ""
  date = ""
  def print_info(self):
    print(f"Author : {self.author}")
    print(f"Title : {self.title}")
    print(f"Publisher : {self.publisher}")
    print(f"Date : {self.date}")

In [ ]:
b1 = Book()
b1.author = "sihyun"
b1.title = "megal"
b1.publisher = "femi"
b1.date = "22.4.7"
b1.print_info()

Author : sihyun
Title : megal
Publisher : femi
Date : 22.4.7

In [ ]:
class Book (object):
  author = ""
  title = ""
  publisher = ""
  date = ""
  def print_info(self):
    print(f"Author : {self.author}")
    print(f"Title : {self.title}")
    print(f"Publisher : {self.publisher}")
    print(f"Date : {self.date}")

In [ ]:
b1 = Book()
b1.author = "sihyun"
b1.title = "megal"
b1.publisher = "femi"
b1.date = "22.4.7"
b1.print_info()

Author : sihyun
Title : megal
Publisher : femi
Date : 22.4.7

In [ ]:
class Book (object):
  author = ""
  title = ""
  publisher = ""
  date = ""
  count = 0
  def print_info(self):
    print(f"Author : {self.author}")
    print(f"Title : {self.title}")
    print(f"Publisher : {self.publisher}")
    print(f"Date : {self.date}")
    print(f"Count : {self.count}")

In [ ]:
b1 = Book()
Book.count += 1
b1.author = "sihyun"
b1.title = "megal"
b1.publisher = "femi"
b1.date = "22.4.7"
b1.print_info()

Author : sihyun
Title : megal
Publisher : femi
Date : 22.4.7
Count : 1

 동물농장

  Animal 클래스
    - eat() "동물이 먹이를 먹습니다."
    - sleep() "동물이 잠에 들었습니다."

  Lion 클래스를 만들어서 Animal 클래스를 상속
    - hunt() "사자가 사냥을 합니다."
  Bird 클래스를 만들어서 Animal 클래스를 상속
    - fly() "새가 날아다닙니다."

In [ ]:
class Animal:
  def eat(self):
    print("동물이 먹이를 먹습니다")
  def sleep(self):
    print("동물이 잠에 들었습니다")

In [ ]:
Animal.eat

In [ ]:
class Lion(Animal):
  def hunt(self):
    print("사자가 사냥을 합니다.")
  def eat(self):
    print("사자가 고기를 먹습니다.")

In [ ]:
class Bird(Animal):
  def fly(self):
    print("새가 날아다닙니다.")
  def eat(self):
    print("새가 모이를 먹습니다.")

In [ ]:
lion = Lion()

In [ ]:
print(lion)

<__main__.Lion object at 0x7fc8d80bf6d0>

In [ ]:
lion.eat()

사자가 고기를 먹습니다.

In [ ]:
bird = Bird()

In [ ]:
bird.eat()

새가 모이를 먹습니다.

In [ ]:
name = ["songmongsuk", "mangnani", "jangponeju", "beaknova"]
score = [95, 96, 97, 94]

for scores in range(len(name)):
  print(name[scores], score[scores])

songmongsuk 95
mangnani 96
jangponeju 97
beaknova 94

In [ ]:
for names, scores in zip(name, score):
  print(names, scores)

songmongsuk 95
mangnani 96
jangponeju 97
beaknova 94